<div class="btn-option-client">
    <a class="ink-button btn-add-client" href="{{ path('AddClientAction') }}">Ajouter un nouveau client</a>
</div>

<div class="liste-client">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Logo</th>
            <th>Statut</th>
            <th>Société</th>
            <th>Comptes</th>
            <th>Téléphone</th>
            <th>Mail</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Logo</th>
            <th>Statut</th>
            <th>Société</th>
            <th>Comptes</th>
            <th>Téléphone</th>
            <th>Mail</th>
        </tr>
        </tfoot>
        <tbody>

        {%  for clients in client %}
        <tr class="row-client" data-client="{{ clients.clId }}">
            <td><img src="http://www.achatcentrale.fr/UploadFichiers/Uploads/CLIENT_{{ clients.clId }}/{{ clients.clLogo }}" alt=""></td>
            <td>{{  clients.clAdhesion }}</td>
            <td>{{ clients.clRaisonsoc }}</td>
            <td>{{ clients.clGroupe }}</td>
            <td>{{ clients.clTel }}</td>
            <td>{{ clients.clMail }}</td>
        </tr>
        {%  endfor %}


        </tbody>
    </table>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });


        $('.row-client').on('click', function (e) {
            var id = $(this).data('client');

            var uurl = "/client/"+id;


            window.location.href = uurl;

        })


    } );
</script>