<div class="liste-client">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Logo</th>
            <th>Statut</th>
            <th>Société</th>
            <th>Contact</th>
            <th>Comptes</th>
            <th>Téléphone</th>
            <th>Mail</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Logo</th>
            <th>Statut</th>
            <th>Société</th>
            <th>Contact</th>
            <th>Comptes</th>
            <th>Téléphone</th>
            <th>Mail</th>
        </tr>
        </tfoot>
        <tbody>

        {%  for clients in client %}
        <tr class="row-client" data-client="{{ clients.cl.clId }}">
            <td><img src="http://www.achatcentrale.fr/UploadFichiers/Uploads/CLIENT_.png" alt=""></td>
            <td>{{  clients.cl.clAdhesion }}</td>
            <td>{{ clients.cl.clRaisonsoc }}</td>
            <td>{{ clients.ccNom  }}  {{ clients.ccPrenom }}</td>
            <td>{{ clients.cl.clGroupe }}</td>
            <td>{{ clients.cl.clTel }}</td>
            <td>{{ clients.cl.clMail }}</td>
        </tr>
        {%  endfor %}


        </tbody>
    </table>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });


        $('.row-client').on('click', function (e) {
            var id = $(this).data('client');

            var url = "/client/"+id;


            window.location.href = url;

        })


    } );
</script>