<div class="ui three column divided grid">

    <div class="row">
        {% if feed.feed is empty %}
            <h3 style="margin-left: 3%">Il n'y aucune activité pour ce client</h3>

        {% else %}

        {% for fe in feed.feed %}

            <div class="column">
                <div class="ui  feed">
                    {% if fe | getClass == "MessageEntete" %}

                        <div class="event">
                            <div>
                                <img class="ui tiny circular image avatar-feed"
                                     src="{{ asset('assets/images/icon/logo_t.png') }}">

                            </div>
                            <div class="content">
                                <div class="summary">
                                    Tickets
                                    <div class="date">
                                        {{ fe.insDate |Time }}
                                    </div>
                                </div>
                                <div class="extra text">
                                    {{ fe.meSujet | raw }}

                                </div>
                                <div class="meta">

                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {% if fe |getClass == "ClientsNotes" %}
                        <div class="event">
                            <div>
                                <img class="ui tiny circular image avatar-feed"
                                     src="{{ asset('assets/images/icon/logo_n.png') }}">

                            </div>
                            <div class="content">
                                <div class="summary">
                                    Notes
                                    <div class="date">
                                        {{ fe.insDate |Time }}
                                    </div>
                                </div>
                                <div class="extra text">
                                    {{ fe.cnNote }}

                                </div>

                            </div>
                        </div>

                    {% endif %}

                    {% if fe |getClass == "ClientsTaches" %}
                        <div class="event">
                            <div>
                                <img class="ui tiny circular image avatar-feed  {% if fe.claStatus == 10 %}round-border-tache{% endif %}"
                                     src="{{ asset('assets/images/icon/logo_a.png') }}">

                            </div>
                            <div class="content">
                                <div class="summary">
                                    Taches
                                    <div class="date">
                                        {{ fe.insDate |Time }}
                                    </div>
                                </div>
                                <div class="extra text">
                                    {{ fe.claNom | convert_encoding('UTF-8', 'Windows-1252') }}
                                </div>
                                <div class="meta">

                                </div>
                            </div>
                        </div>

                    {% endif %}


                </div>
            </div>


        {% endfor %}

        {% endif %}

    </div>


</div>

