<header>
    <div>
        <div class="top-bar">
            <div>
                <div class="recherche">
                    <div class="add-action" id="mymodalg">
                        <img src="/images/add_action.png" class="cursor" alt=""/>
                    </div>

                    <div class="avatar-topBar">
                        <div class="ui segment">
                        <div class="ui equal width grid">
                            <div class="equal width row">
                                <div class="column left floated">
                                    <i class="user circle  teal  icon"></i>{{ app.user.usPrenom }} {{ app.user.usNom }}
                                </div>
                                <div class="column right floated">
                                    <i class="setting icon"> </i> Modifier mon profil
                                </div>
                            </div>
                        </div>


                    </div>



                    </div>


                </div>



                <div class="ui modal action">
                    <i class="close icon"></i>
                    <div class="header">
                        <i class="tasks teal large icon"></i>
                        Nouvelle action
                    </div>
                    {#<div class="content">


                            {{ form_start(form, { 'attr' : { 'class': 'ajaxNew' }, 'action': '/taches/new' }) }}
                            {{ form_errors(form) }}

                            <div class="ui equal width form">

                                <div class="two fields">
                                    <div class="field">
                                        <label>{{ form_label(form.claType) }}</label>
                                        <div class="field">
                                            {{ form_widget(form.claType) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>{{ form_label(form.claNom) }}</label>
                                        {{ form_errors(form.claNom) }}
                                        {{ form_widget(form.claNom) }}
                                    </div>
                                </div>


                                <div class="two fields">
                                    <div class="field">
                                        <label>{{ form_label(form.claEcheance) }}</label>
                                        <div class="field">
                                            {{ form_widget(form.claEcheance) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>{{ form_label(form.claPriorite) }}</label>
                                        <div class="field">
                                            {{ form_widget(form.claPriorite) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>{{ form_label(form.usId) }}</label>
                                        <div class="field">
                                            {{ form_widget(form.usId) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>{{ form_label(form.cl) }}</label>
                                        <div class="field">
                                            {{ form_widget(form.cl) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label>{{ form_label(form.claDescr) }}</label>
                                    {{ form_errors(form.claDescr) }}
                                    {{ form_widget(form.claDescr) }}
                                </div>

                                <div class="btn-submit-action">
                                    {{ form_label(form.submit) }}
                                    {{ form_widget(form.submit) }}
                                </div>

                            </div>

                            {{ form_end(form) }}




                    </div>#}


                </div>

                </div>


            </div>
        </div>



            <div class="continer-nav-bar">
                <div>


                    <div class="nav-bar">



                        <div class="presentation">
                            <div class="block-logo">
                                <img src="/images/logo-achatcentrale.png" alt="logo_crm"  />
                                <p>CRM v1.0</p>
                            </div>
                        </div>


                        <div class="menu-nav">
                            <div class="{% if app.request.attributes.get('_route') == 'index_auth' %}active {% endif %}menu-home hover">
                                <i class="home teal large icon"></i>
                                <a href="{{ path('index_auth') }}">Accueil</a>
                            </div>
                            <div class="{% if app.request.attributes.get('_route') == 'taches_home' %}active {% endif %}menu-home hover">
                                <i class="tasks teal large icon"></i>
                                <a href="{{ path('taches_home') }}">Tâches</a>
                            </div>
                            <div class="{% if app.request.attributes.get('_route') == 'client' or app.request.attributes.get('_route') == 'client-general' or app.request.attributes.get('_route') == 'client-adresse' or app.request.attributes.get('_route') == 'client-status' %}active {% endif %}menu-client hover">
                                <i class="group teal large icon"></i>
                                <a href="{{ path('client') }}">Clients</a>
                            </div>
                           {% if app.request.attributes.get('_route') == 'client-general' or app.request.attributes.get('_route') == 'client-adresse' or app.request.attributes.get('_route') == 'client-status' %}
                            <div class="extra-nav">

                                    <li><a href="{{ path('client-general', {'id': app.request.attributes.get('id')}) }}">Général</a></li>
                                    <li><a href="{{ path('client-adresse', {'id': app.request.attributes.get('id')}) }}">Adresse</a></li>
                                    <li><a href="{{ path('client-status', {'id': app.request.attributes.get('id')}) }}">Status</a></li>
                                    <li><a href="">Actions</a></li>



                            </div>
                            {% endif %}

                            <div class="menu-supplier hover">
                                <i class="suitcase teal large icon"></i>
                                <a href="/fournisseur">Fournisseurs</a>
                            </div>


                        </div>



                        <div class="menu-bottom">
                            <i class="log out teal large icon"></i>
                            <a href="/logout"> Déconnexion</a>

                        </div>



                    </div>

                </div>
            </div>

    </div>

</header>



{% block javascripts %}

    <script>
        $(document).ready(function(){



            $("#mymodalg").click(function() {
                $('.ui.modal.action')
                    .modal('show')
                ;
            });


            $("#add-modal-client").click(function(){
                $('.ui.modal.add')
                    .modal('show')
                ;
            });

            $('#example2').progress({
                percent: 22
            });

            $('.submit-action').on('click', function (e) {
                let all = $('.add-action');

                all.map(function (i, value) {
                    console.log(value,  value.value)
                })


            });


            $(".date").datepicker({
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
            });



        });
    </script>

{% endblock %}










