<div class="container-data">
    <div class="ui divider">

    </div>
    <div class="ui equal width grid">

        <div class="equal width row">



            <div class="column">
                <h4>Historique de navigation</h4>
                <table class="ui table">
                    <thead>
                    <tr><th class="five wide">Type action</th>
                        <th class="ten wide">Etat</th>
                        <th class="ten wide">Date</th>
                    </tr></thead>
                    <tbody>
                    {% for logs in log %}
                        <tr>
                            <td><div class="ui label">{{ logs.LO_CODE }}</div></td>
                            <td>{{ logs.LO_DESCR | raw }}</td>
                            <td>{{ logs.INS_DATE | date }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
            <div class="column">


                <div class="ui pointing secondary menu profile-client ">
                    <a class="active item" data-tab="first">Actions</a>
                    <a class="item" data-tab="second">Notes</a>

                </div>
                <div class="ui tab segment active" data-tab="first">
                    <table class="ui compact table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Écheance</th>
                            <th>Priorité</th>
                        </tr>
                        </thead>
                        <tbody>
                       {% for tasks in task %}
                            <tr>
                                <td>{{ tasks.claNom }}</td>
                                <td>{{ tasks.claType | type }}</td>
                                <td>{{ tasks.claEcheance | Time }}</td>
                                <td>{{ tasks.claPriorite }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="ui tab segment" data-tab="second">Second </div>





        </div>
    </div>
</div>
</div>


