<div class="hidden-centrale">
    <p id="centrale">{{ centrale }}</p>
    <p id="id">{{ client[0].clId }}</p>
</div>




{% set randomPassword = [] %}
                    {% for i in 1..5 %}
                        {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
                        {% set alphaUpper = alpha|upper %}
                        {% set numbers = '0123456789' %}
                        {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers) %}
                        {% set randomPassword = randomPassword|merge([randomCharacter]) %}
                    {% endfor %}
                    {% set randomPassword = randomPassword|join %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>FICHE CLIENT</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12  profile_left" align="center">

                    <div class="profile_img">


                        <div id="crop-avatar">
                            <!-- Current avatar -->

                            {% if client[0].clLogo %}


                                <div class="container-hover-image">
                                    <img class="img-responsive img-rounded  avatar-view"
                                         src="http://www.{{ centrale | centrale }}.fr/UploadFichiers/Uploads/CLIENT_{{ client[0].clId }}/{{ client[0].clLogo }}"
                                         alt="Logo" style="width: 35%">
                                    <div class="middle">
                                        <div class="text-hover-edit cursor"><i class="paint large brush icon"></i></div>
                                    </div>
                                </div>
                            {% else %}

                                <div class="container-hover-image">
                                    <img class="img-responsive img-rounded image-hover-edit   avatar-view"
                                         src="{{ asset('images/phot-indispo.jpg') }}"
                                         alt="Logo" style="width: 35%">
                                    <div class="middle">
                                        <div class="text-hover-edit cursor"><i class="paint large brush icon"></i></div>
                                    </div>
                                </div>
                            {% endif %}


                        </div>
                        <!-- end of image cropping -->

                    </div>


                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i>
                            {{ client[0].clAdresse1 | formatVille  }}<br>
                            {{ client[0].clCp }} {{ client[0].clVille | formatVille }}
                        </li>
                    </ul>

                    {% if client[0].clWeb %}
                        <li class="m-top-xs web-li">
                            <a href="{{ relative_path(client[0].clWeb ) }}">{{ client[0].clWeb }}</a>
                        </li>
                    {% else %}
                        <p>Pas de site web</p>
                    {% endif %}

                    <button id="modifierProfil" type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#myModal">
                        <i class="fa fa-edit edit-client m-right-xs"></i>Modifier le profil
                    </button>
                    <div class="ajoutuser">
                        <button class="ui button client-user-new" type="button" data-toggle="modal"
                                data-target="#client-user-new">
                            Ajouter un utilisateur
                        </button>
                    </div>

                </div>


                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="ui equal width grid raison-soc">
                        <div class="equal width row">
                            <div class="column">
                                <h3 class="raison-soc-titre">
                                    <i class="building icon"></i> {{ client[0].clRaisonsoc | convert_encoding('UTF-8', 'Windows-1252') }}
                                </h3>
                                {{ centrale |replace({"_" : " "}) | centraleLabel | raw }}


                            </div>
                            <div class="column ref-client">
                                <h3><span class="pastille-ref green"></span> {{ random() }}</h3>
                                <h3><span class="pastille-ref green"></span> {{ client[0].clRef }}</h3>
                            </div>
                        </div>

                        {% if groupe %}
                            <p class="ui label green">{{ groupe[0].grDescr }}</p><br>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>


                    <div class="detail-client">

                        <div class="profile_title">
                            <h2>Données du client </h2>
                        </div>


                        <div class="ui grid">


                            <div class="four wide column">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Siret</p>
                                    <p class="cursor label-background"
                                       data-index="siret">{{ client[0].clSiret | siret }}</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Mail</p>
                                    <p class="cursor " data-index="siret">
                                        <a class="cursor data-client " data-index="mail"
                                           href="mailto:{{ client[0].clMail }}">
                                            <i class="mail link  circular icon"></i></a>{{ client[0].clMail }}</p>
                                </div>
                                <div class="info-client-detail " id="detail-tel">
                                    <p class="title-detail-client ">Téléphone</p>
                                    <p class="cursor label-background"
                                       data-index="siret">{{ client[0].clTel | phone }}</p>
                                </div>
                            </div>

                            <div class="three wide column">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Éffectif</p>
                                    <p class="cursor label-background" data-index="siret">{{ client[0].clEffectif }}</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Chiffre d'affaires</p>
                                    <p class="cursor label-background" data-index="siret">{{ client[0].clCa }} €</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Activité</p>
                                    {% if  activite == "Aucune activité pour le moment" %}
                                        <p class="cursor label-background"
                                           data-index="activite">{{ activite }}</p>

                                        {% else %}
                                            {% if activite %}
                                                <p class="cursor label-background"
                                                   data-index="activite">{{ activite[0].acDescr |  convert_encoding('UTF-8', 'Windows-1252') }}</p>
                                            {% else %}
                                                <p class="cursor label-background"
                                                   data-index="activite">Pas d'activité enregistrer encore</p>
                                            {% endif %}
                                    {% endif %}
                                </div>
                            </div>


                            <div class="vertical-divider"></div>

                            <div class="four wide column recap-client">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Groupe</p>
                                    <p class="cursor label-background" data-index="groupe">PAS ENCORE</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Classification</p>
                                    <p class="cursor label-background" data-index="classif">PAS ENCORE</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Régions</p>
                                    {% if region == "Aucne région pour le moment" %}

                                        <p class="cursor label-background"
                                           data-index="region">{{ region }}</p>

                                        {% else %}
                                            {% if region %}
                                                <p class="cursor label-background"
                                                   data-index="region">{{ region[0].reNom }}</p>
                                            {% else %}
                                                <p class="cursor label-background"
                                                   data-index="region">Pas de region enregistrer encore</p>
                                            {% endif %}
                                    {% endif %}

                                </div>


                            </div>

                            <div class="four wide column recap-client">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Afficher les prix d'achats</p>
                                    <div class="prix-achat-check">
                                        <input class="check-oui-pa" type="checkbox" {{ (client[0].clMasqHa == 1) ? 'checked' :  '' }} > oui

                                        <input class="check-non-pa" type="checkbox" {{ (client[0].clMasqHa == 0) ? 'checked' :  '' }} > Non
                                    </div>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Afficher les prix de vente</p>
                                    <div class="prix-achat-check">
                                        <input class="check-oui-pa" type="checkbox" {{ (client[0].clMasqVt == 1) ? 'checked' :  '' }} > Oui
                                        <input class="check-non-pa" type="checkbox" {{ (client[0].clMasqVt == 0) ? 'checked' :  '' }} > Non
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="profile_title historique-client">
                            <h2>Historique du client
                                <small id="afficherplus-historique" class="cursor">Afficher plus</small>
                            </h2>
                        </div>


                        <div class="historique-client-content">

                            {{ render(controller('SiteBundle:Base:ClientFeed', { 'id' : client[0].clId, 'centrale': centrale })) }}

                        </div>


                        <div class="profile_title ">
                            <h2>Détails du client
                                <small id="afficherplus-detail" class="cursor">Afficher plus</small>
                            </h2>
                        </div>
                        <div id="detail-client-content">

                            <div class="tab-detail-client" role="tabpanel" data-example-id="togglable-tabs">


                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content3" role="tab" id="profile-tab"
                                           data-toggle="tab" aria-expanded="false">
                                            Utilisateurs
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content1" id="home-tab"
                                           role="tab"
                                           data-toggle="tab" aria-expanded="true">
                                            <span class="badge bg-green">{{ task | length }}</span> Actions
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content4" id="home-tab"
                                           role="tab"
                                           data-toggle="tab" aria-expanded="true">
                                            <span class="badge bg-green">{{ tacheA | length }}</span> Actions archivée
                                        </a>
                                    </li>

                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab"
                                           data-toggle="tab" aria-expanded="true">
                                            <span class="badge bg-green"> {{ note | length }} </span> Notes
                                        </a>
                                    </li>


                                </ul>


                                <div id="myTabContent" class="tab-content">


                                    {#User_client#}
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content3"
                                         aria-labelledby="profile-tab">
                                        {% if user %}
                                            <table class="ui celled padded table">
                                                <thead>
                                                <tr>
                                                    <th>Prénom</th>
                                                    <th>Nom</th>
                                                    <th>Fonction</th>
                                                    <th>Tel</th>
                                                    <th>Mail</th>
                                                    <th>Password</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for users in user %}
                                                    <tr>
                                                        <td>
                                                            <a target="_blank"
                                                               href="http://www.{{  centrale |replace({'_': '-'}) }}.fr/Login.asp?LOGIN={{ users.ccMail }}&PASS={{ users.ccPass }}">{{ users.ccPrenom | convert_encoding('UTF-8', 'Windows-1252')  }}</a>
                                                        </td>
                                                        <td>
                                                            <a target="_blank"
                                                               href="http://www.centrale-roc-eclerc.fr/Login.asp?LOGIN={{ users.ccMail }}&PASS={{ users.ccPass }}">{{ users.ccNom }}</a>
                                                        </td>
                                                        <td>{{ users.ccFonction |  convert_encoding('UTF-8', 'Windows-1252') }}</td>
                                                        <td>{{ users.ccTel | isEmpty | upper | phone | raw }}</td>
                                                        <td><a href="mailto:{{ users.ccMail }}">{{ users.ccMail }}</a>
                                                        </td>
                                                        <td>{{ users.ccPass }}</td>
                                                        <td><i class="write icon cursor edit-client-user"></i></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>Il n'y aucun utilisateur pour ce client</p>
                                        {% endif %}
                                    </div>

                                    {#Action_client#}
                                    <div role="tabpanel" class="tab-pane fade " id="tab_content1"
                                         aria-labelledby="home-tab">
                                        <a href="{{ path('new-task', {'c' : centrale, 'cl' : client[0].clId }) }}" class="btn btn-success" role="button">Ajouter
                                            une tâche</a>

                                        <div class="ui items">

                                            {% if task %}

                                                <div class="">
                                                    <ul class="to_do">
                                                        {% for tasks in task %}
                                                            <li data-id="{{ tasks['CLA_ID'] }}" data-centrale=""
                                                                class="cursor detail-tache-home-client">
                                                                <p>{{ tasks['INS_DATE'] | fromNowString }} - {{ tasks['CLA_NOM'] | raw |  convert_encoding('UTF-8', 'Windows-1252') }} - {{ tasks['CLA_DESCR'] | raw |  convert_encoding('UTF-8', 'Windows-1252') }} </p>
                                                                {{ tasks['CLA_STATUS'] | etat | raw }}
                                                            </li>
                                                        {% endfor %}


                                                    </ul>
                                                </div>

                                            {% else %}
                                                <h5>Pas de taches pour le moment</h5>
                                            {% endif %}


                                        </div>


                                    </div>


                                    {#Action_client_archive#}
                                    <div role="tabpanel" class="tab-pane fade " id="tab_content4" aria-labelledby="home-tab">
                                        <div class="ui items">

                                            {% if tacheA %}

                                                <div class="">
                                                    <ul class="to_do">
                                                        {% for tasks in tacheA %}
                                                            <li data-id="{{ tasks.clId }}"
                                                                class="cursor detail-tache-home">
                                                                <p>{{ tasks.claNom | raw |  convert_encoding('UTF-8', 'Windows-1252') }} - {{ tasks.claDescr | raw |  convert_encoding('UTF-8', 'Windows-1252') }} </p>

                                                            </li>
                                                        {% endfor %}


                                                    </ul>
                                                </div>

                                            {% else %}
                                                <h5>Aucune tâche n'a été encore crée pour cet utilisateur</h5>
                                            {% endif %}


                                        </div>


                                    </div>

                                    {#Notes_client#}
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                         aria-labelledby="profile-tab">
                                        <div class="ui equal width grid" style="margin-top: 30px">
                                            <div class="equal width row">
                                                <div class="column">
                                                    <div class="note-left">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="add-note"
                                                                   placeholder="Consigner une action pour le client {{ client[0].clRaisonsoc }}">
                                                            <span class="input-group-btn">
                                                        <button class="btn btn-secondar btn-success add-note"
                                                                type="button">Enregistrer</button>
                                                    </span>
                                                        </div>
                                                        <br>

                                                        {% if note %}
                                                            <h5>Historique client: </h5>
                                                            {% for n in note %}
                                                                <ul>
                                                                    <li>{{ n.insDate | Time }} : {{ n.cnNote }}</li>
                                                                </ul>
                                                            {% endfor %}
                                                        {% else %}
                                                            <p>Il n'y aucune note pour le client</p>

                                                        {% endif %}


                                                    </div>
                                                </div>
                                                {#<div class="column">#}
                                                {#<a href="{{ path('new-task', {'u' : client[0].clId }) }}"#}
                                                {#class="btn btn-success" role="button">Crée une action</a>#}

                                                {#</div>#}
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>








{#//modal#}
<div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier le client {{ client[0].clRaisonsoc }}</h4>
            </div>
            <div class="modal-body">
                <div class="ui centered grid">
                    <div class="eight wide column">


                        <div class="form-group">
                            <label for="siret-update">Numero de siret</label>
                            <input name="data-client[]" type="text" class="form-control data-update-client"
                                   id="siret-update" value="{{ client[0].clSiret | siret }}"
                                   placeholder="{{ client[0].clSiret | siret }}">
                        </div>

                        <div class="form-group">
                            <label for="email">Adresse mail</label>
                            <input name="data-client[]" type="email" class="form-control data-update-client" id="email"
                                   value="{{ client[0].clMail }}" placeholder="{{ client[0].clMail }}">
                        </div>
                        <div class="form-group">
                            <label for="Telephone-update">Téléphone</label>
                            <input name="data-client[]" type="tel" class="form-control data-update-client"
                                   id="Telephone-update" value="{{ client[0].clTel | phone }}"
                                   placeholder="{{ client[0].clTel | phone }}">
                        </div>

                        <div class="form-group">
                            <label for="cp-update">Code postal</label>
                            <input name="data-client[]" type="text" class="form-control" id="cp-update"
                                   value="{{ client[0].clCp }}" placeholder="{{ client[0].clCp }}">
                        </div>


                    </div>
                    <div class="eight wide column">
                        <div class="form-group">
                            <label for="effectif-update">Effectif de l'entrprise</label>
                            <select disabled name="data-client[]" class="form-control data-update-client">
                                <option selected> {{ client[0].clEffectif }}</option>
                                <option>0 à 5</option>
                                <option>6 à 20</option>
                                <option>21 à 30</option>
                                <option>51 à 100</option>
                                <option>101 à 200</option>
                                <option>+ de 200</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ca-update">Chiffre d'affaires</label>
                            <input name="data-client[]" type="text" class="form-control data-update-client"
                                   id="ca-update" value="{{ client[0].clCa }}" placeholder="{{ client[0].clCa }}">
                        </div>
                        <div class="form-group">
                            <label for="adresse1-update">Adresse</label>
                            <input name="data-client[]" type="text" class="form-control" id="dresse1-update"
                                   value="{{ client[0].clAdresse1 }}" placeholder="{{ client[0].clAdresse1 }}">
                        </div>
                        <div class="form-group">
                            <label for="ville-update">Ville</label>
                            <input name="data-client[]" type="text" class="form-control" id="ville-update"
                                   value="{{ client[0].clVille }}" placeholder="{{ client[0].clVille }}">
                        </div>
                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success save-update-client">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logo-edit"  role="dialog" aria-labelledby="logo-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier le logo</h4>
            </div>
            <div class="modal-body">

                <div class="ui equal centered width grid">
                    <div class="equal width row">
                        <div class="column">
                            <h4>Photos actuelle</h4>
                            <img class="img-responsive img-for-edit"
                                 src="http://www.centrale-{{ centrale | centrale }}.fr/UploadFichiers/Uploads/CLIENT_{{ client[0].clId }}/{{ client[0].clLogo }}"/>

                        </div>
                        <div class="column">


                            <form action="/file-upload" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple/>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success save-edit-logo">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="client-user-edit"  role="dialog" aria-labelledby="client-user-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier l'utilisateur # pour le
                    client {{ client[0].clRaisonSoc }}</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success save-edit-logo">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>

<div id="client-user-new" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un utilisateur du
                    compte {{ client[0].clRaisonsoc }}</h4>
            </div>
            <div class="modal-body">
                <div class="ui centered grid">
                    <div class="eight wide column">


                        <div class="form-group">
                            <label for="prenom-user">Prénom</label>
                            <input name="data-user[]" type="text" class="form-control data-update-client"
                                   id="prenom-user" placeholder="Albert">
                        </div>

                        <div class="form-group">
                            <label for="email-user">Adresse mail</label>
                            <input name="data-user[]" type="email" class="form-control data-update-client"
                                   id="email-user" placeholder="Albert.bert@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="fonction-user">Fonction</label>
                            <select name="data-user[]" class="form-control data-update-client">
                                {% for fonctions in fonction %}
                                    <option value="{{ fonctions.foDescr | convert_encoding('UTF-8', 'Windows-1252') }}">{{ fonctions.foDescr | convert_encoding('UTF-8', 'Windows-1252') }}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="profil-user">Profil utilisateur</label>
                            <select name="data-user[]" class="form-control data-update-client">
                                {% for profils in profil %}
                                    <option value="{{ profils.puId }}">{% if profils.puPole %}
                                            {{ profils.puPole | convert_encoding('UTF-8', 'Windows-1252') }} /
                                            {% else %}

                                        {% endif %} {{ profils.puDescr | convert_encoding('UTF-8', 'Windows-1252') }}</option>

                                {% endfor %}
                            </select>
                        </div>




                    </div>
                    <div class="eight wide column">
                        <div class="form-group">
                            <label for="nom-user">Nom</label>
                            <input name="data-user[]" type="email" class="form-control data-update-client" id="nom-user"
                                   placeholder="Bert">
                        </div>
                        <div class="form-group">
                            <label for="pwd-user">Mot de passe </label>
                            <input name="data-user[]" type="text" class="form-control data-update-client"
                                   id="pwd-user" value="{{ randomPassword }}">
                        </div>
                        <div class="form-group">
                            <label for="tel-user">Téléphone</label>
                            <input name="data-user[]" type="text" class="form-control" id="tel-user"
                                   placeholder="05 16 54 84 44 ">
                        </div>
                        <div class="form-group">
                            <label for="niveau-user">Niveau</label>
                            <select name="data-user[]" id="niveau-user" class="form-control data-update-client">
                                <option value="0">Admin</option>
                                <option value="1" selected="selected">Utilisateur</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="validation-user">Niveau de validation</label>
                            <select name="data-user[]" id="validation-user" class="form-control data-update-client">
                                <option value="true" selected="selected">Oui</option>
                                <option value="false" >Non</option>
                            </select>
                        </div>

                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success new-clients-user">Enregistrer les modifications</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-task-detail-home-client"  role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


