{% for clients in client %}
    <div class="ui equal width grid">
        <div class="equal width row">
            <div class="column">

                <h3>Centrale Roc-Eclerc</h3>

                <div class="ui items">
                    <div class="item">
                        <div class="ui tiny image">
                            <img class="ui  tiny circular image"
                                 src="http://www.centrale-roc-eclerc.fr/UploadFichiers/Uploads/CLIENT_{{ clients.clId }}/{{ clients.clLogo }}">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">{{ clients.clRaisonSoc }} <div class="ui label blue">VIP</div><div class="ui label green">ACTIF</div>
                            </a>
                        </div>
                    </div>

                    <div class="adresse-client">

                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td class="collapsing">Adresse</td>
                                <td><div class="ui label"> {{ clients.clAdresse1 }} </div></td>
                            </tr>
                            <tr>
                                <td>Ville/code postal</td>
                                <td><div class="ui label"> {{ clients.clVille }} {{ clients.clCp }} </div></td>
                            </tr>
                            <tr>
                                <td>Numéro de téléphone </td>
                                <td><div class="ui label"> {{ clients.clTel | phone }} </div></td>
                            </tr>
                            <tr>
                                <td>Adresse mail</td>
                                <td><div class="ui label"> <a href="mailto:{{ clients.clMail }}">{{ clients.clMail }} </div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>






            </div>
            <div class="column">
                <h3>Informations complémentaires</h3>
                <div class="equal width row">



                    <div class="column">


                        Siret : <div class="ui label">{{ client[0].clSiret }}</div>
                        Secteur d'activité : <div class="ui label"> Non renseigné </div>
                        Nombre de salariés : <div class="ui label"> {{ client[0].clEffectif }} </div>


                    </div>
                    <div class="column">
                        Assigné à: <div class="ui label"><i class="user icon"></i> Morgane </div>
                        Site web: <div class="ui label"> <a href="{{ client[0].clWeb }}"></a> </div>

                    </div>




                </div>


            </div>
        </div>
    </div>



{% endfor %}