<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>FICHE CLIENT
                </h2>


                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12  profile_left" align="center">

                    <div class="profile_img">


                        <div id="crop-avatar">
                            <!-- Current avatar -->

                            {% if client[0].clLogo %}


                                <div class="container-hover-image">
                                    <img class="img-responsive img-rounded  avatar-view"
                                         src="http://www.centrale-{{ centrale | centrale }}.fr/UploadFichiers/Uploads/CLIENT_{{ client[0].clId }}/{{ client[0].clLogo }}"
                                         alt="Logo" style="width: 35%">
                                    <div class="middle">
                                        <div class="text-hover-edit cursor"><i class="paint large brush icon"></i></div>
                                    </div>
                                </div>
                            {% else %}

                                <div class="container-hover-image">
                                    <img class="img-responsive img-rounded image-hover-edit   avatar-view"
                                         src="{{ asset('images/phot-indispo.jpg') }}"
                                         alt="Logo" style="width: 35%">
                                    <div class="middle">
                                        <div class="text-hover-edit cursor"><i class="paint large brush icon"></i></div>
                                    </div>
                                </div>
                            {% endif %}


                        </div>
                        <!-- end of image cropping -->

                    </div>


                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i>
                            {{ client[0].clAdresse1 }}<br>
                            {{ client[0].clCp }} {{ client[0].clVille }}
                        </li>
                    </ul>

                    {% if client[0].clWeb %}
                        <li class="m-top-xs web-li">
                            <a href="{{ client[0].clWeb }}" target="_blank">{{ client[0].clWeb }}</a>
                        </li>
                    {% else %}
                        <p>Pas de site web</p>
                    {% endif %}

                    <button id="modifierProfil" type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#myModal">
                        <i class="fa fa-edit edit-client m-right-xs"></i>Modifier le profil
                    </button>

                </div>


                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="ui equal width grid raison-soc">
                        <div class="equal width row">
                            <div class="column"><h3><i class="building icon"></i> {{ client[0].clRaisonsoc }}</h3></div>
                            <div class="column"><h3><i class="square icon"></i>{{ client[0].clRef }}</h3></div>
                        </div>
                        {% if groupe %}
                            <p class="ui label green">{{ groupe[0].grDescr }}</p><br>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>


                    <div class="detail-client">

                        <div class="profile_title">
                            <h2>Données du client </h2>
                        </div>


                        <div class="ui grid">


                            <div class="four wide column">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Siret</p>
                                    <p class="cursor label-background"
                                       data-index="siret">{{ client[0].clSiret | siret }}</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Mail</p>
                                    <p class="cursor " data-index="siret">
                                        <a class="cursor data-client " data-index="mail"
                                           href="mailto:{{ client[0].clMail }}">
                                            <i class="mail link  circular icon"></i></a>{{ client[0].clMail }}</p>
                                </div>
                                <div class="info-client-detail " id="detail-tel">
                                    <p class="title-detail-client ">Téléphone</p>
                                    <p class="cursor label-background"
                                       data-index="siret">{{ client[0].clTel | phone }}</p>
                                </div>
                            </div>

                            <div class="three wide column">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Éffectif</p>
                                    <p class="cursor label-background" data-index="siret">{{ client[0].clEffectif }}</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Chiffre d'affaires</p>
                                    <p class="cursor label-background" data-index="siret">{{ client[0].clCa }} €</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Activité</p>
                                    {% if activite %}
                                        <p class="cursor label-background"
                                           data-index="siret">{{ activite[0].acDescr }}</p>
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="vertical-divider"></div>

                            <div class="four wide column recap-client">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Période d'adhésion</p>
                                    <p class="cursor label-background" data-index="per-adh">1 an</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Numéro de facture</p>
                                    <p class="cursor label-background" data-index="num-facture">{{ random() }}</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Date de facture</p>
                                    <p class="cursor label-background"
                                       data-index="adh-date">{{ client[0].clDtAdhesion | Time }}</p>

                                </div>


                            </div>
                            <div class="four wide column recap-client">
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Montant facturé</p>
                                    <p class="cursor label-background" data-index="fact-val">5 000 €</p>
                                </div>
                                <div class="info-client-detail">
                                    <p class="title-detail-client ">Statut du compte</p>
                                    <p class="cursor label-background statut-client-edit"
                                       data-index="fact-stat"> {{ client[0].clStatus | status }}</p>
                                    <select class="form-control" id="select-statut-edit-client" style="display: none">
                                        <option>À valider</option>
                                        <option>Validé</option>
                                        <option>Bloqué</option>
                                    </select>
                                </div>


                            </div>


                        </div>


                        <div class="profile_title historique-client">
                            <h2>Historique du client </h2>
                        </div>
                        <div class="historique-client-content">
                            <div class="ui feed">
                                <div class="event">
                                    <div class="label">
                                        <i class="pencil icon"></i></div>
                                    <div class="content">
                                        You added Elliot Fu to the group <a>Coworkers</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="tab-detail-client" role="tabpanel" data-example-id="togglable-tabs">


                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content3" role="tab" id="profile-tab"
                                       data-toggle="tab" aria-expanded="false">
                                        Utilisateurs
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content1" id="home-tab"
                                       role="tab"
                                       data-toggle="tab" aria-expanded="true">
                                        <span class="badge bg-green">{{ task | length }}</span> Actions
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab"
                                       data-toggle="tab" aria-expanded="true">
                                        <span class="badge bg-green"> {{ note | length }} </span> Notes
                                    </a>
                                </li>


                            </ul>


                            <div id="myTabContent" class="tab-content">


                                {#User_client#}
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content3"
                                     aria-labelledby="profile-tab">
                                    {% if user %}
                                        <table class="ui celled padded table">
                                            <thead>
                                            <tr>

                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Fonction</th>
                                                <th>Tel</th>
                                                <th>Mail</th>
                                                <th>Password</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for users in user %}
                                                <tr>
                                                    <td>
                                                        <a target="_blank"
                                                           href="http://www.centrale-roc-eclerc.fr/Login.asp?LOGIN={{ users.ccMail }}&PASS={{ users.ccPass }}">{{ users.ccPrenom }}</a>
                                                    </td>
                                                    <td>
                                                        <a target="_blank"
                                                           href="http://www.centrale-roc-eclerc.fr/Login.asp?LOGIN={{ users.ccMail }}&PASS={{ users.ccPass }}">{{ users.ccNom }}</a>
                                                    </td>
                                                    <td>{{ users.ccFonction }}</td>
                                                    <td>{{ users.ccTel | isEmpty | upper | phone | raw }}</td>
                                                    <td><a href="mailto:{{ users.ccMail }}">{{ users.ccMail }}</a></td>
                                                    <td>{{ users.ccPass }}</td>
                                                    <td><i class="write icon cursor edit-client-user"></i></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <p>Il n'y aucun utilisateur pour ce client</p>
                                    {% endif %}
                                </div>

                                {#Action_client#}
                                <div role="tabpanel" class="tab-pane fade " id="tab_content1"
                                     aria-labelledby="home-tab">

                                    <div class="ui items">

                                        {% if task %}
                                            <!-- start recent activity -->
                                            <div class="ui items">


                                                {% for tasks in task %}

                                                    <div class="item">
                                                        <a class="ui tiny image">
                                                            {% if tasks["CLA_STATUS"] == 0 %}
                                                                <i class="warning red big sign icon"></i>
                                                            {% else %}
                                                                <i class="check green big sign icon"></i>

                                                            {% endif %}
                                                        </a>
                                                        <div class="content">
                                                            <a class="header">{{ tasks["CLA_NOM"] }}</a>
                                                            <div class="description">
                                                                <p>{{ tasks["CLA_DESCR"] }}</p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                {% endfor %}

                                            </div>
                                            <!-- end recent activity -->
                                        {% else %}
                                            <p>Aucune action a deja été éfféctué avec ce client</p>
                                        {% endif %}


                                    </div>


                                </div>

                                {#Notes_client#}
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                     aria-labelledby="profile-tab">
                                    <div class="ui equal width grid" style="margin-top: 30px">
                                        <div class="equal width row">
                                            <div class="column">
                                                <div class="note-left">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="add-note"
                                                               placeholder="Consigner une action pour le client {{ client[0].clRaisonsoc }}">
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-secondar btn-success add-note"
                                                                type="button">Enregistrer</button>
                                                    </span>
                                                    </div>
                                                    <br>

                                                    {% if note %}
                                                        <h5>Historique client: </h5>
                                                        {% for n in note %}
                                                            <ul>
                                                                <li>{{ n.insDate | Time }} : {{ n.cnNote }}</li>
                                                            </ul>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Il n'y aucune note pour le client</p>

                                                    {% endif %}


                                                </div>
                                            </div>
                                            <div class="column">
                                                <a href="{{ path('new-task', {'u' : client[0].clId }) }}"
                                                   class="btn btn-success" role="button">Crée une action</a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier le client {{ client[0].clRaisonsoc }}</h4>
            </div>
            <div class="modal-body">
                <div class="ui centered grid">
                    <div class="eight wide column">


                        <div class="form-group">
                            <label for="siret-update">Numero de siret</label>
                            <input name="data-client[]" type="text" class="form-control data-update-client"
                                   id="siret-update" value="{{ client[0].clSiret | siret }}"
                                   placeholder="{{ client[0].clSiret | siret }}">
                        </div>

                        <div class="form-group">
                            <label for="email">Adresse mail</label>
                            <input name="data-client[]" type="email" class="form-control data-update-client" id="email"
                                   value="{{ client[0].clMail }}" placeholder="{{ client[0].clMail }}">
                        </div>
                        <div class="form-group">
                            <label for="Telephone-update">Téléphone</label>
                            <input name="data-client[]" type="tel" class="form-control data-update-client"
                                   id="Telephone-update" value="{{ client[0].clTel | phone }}"
                                   placeholder="{{ client[0].clTel | phone }}">
                        </div>

                        <div class="form-group">
                            <label for="cp-update">Code postal</label>
                            <input name="data-client[]" type="text" class="form-control" id="cp-update"
                                   value="{{ client[0].clCp }}" placeholder="{{ client[0].clCp }}">
                        </div>


                    </div>
                    <div class="eight wide column">


                        <div class="form-group">
                            <label for="effectif-update">Effectif de l'entrprise</label>
                            <select disabled name="data-client[]" class="form-control data-update-client">
                                <option selected> {{ client[0].clEffectif }}</option>
                                <option>0 à 5</option>
                                <option>6 à 20</option>
                                <option>21 à 30</option>
                                <option>51 à 100</option>
                                <option>101 à 200</option>
                                <option>+ de 200</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ca-update">Chiffre d'affaires</label>
                            <input name="data-client[]" type="text" class="form-control data-update-client"
                                   id="ca-update" value="{{ client[0].clCa }}" placeholder="{{ client[0].clCa }}">
                        </div>
                        <div class="form-group">
                            <label for="adresse1-update">Adresse</label>
                            <input name="data-client[]" type="text" class="form-control" id="dresse1-update"
                                   value="{{ client[0].clAdresse1 }}" placeholder="{{ client[0].clAdresse1 }}">
                        </div>
                        <div class="form-group">
                            <label for="ville-update">Ville</label>
                            <input name="data-client[]" type="text" class="form-control" id="ville-update"
                                   value="{{ client[0].clVille }}" placeholder="{{ client[0].clVille }}">
                        </div>
                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success save-update-client">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logo-edit" tabindex="-1" role="dialog" aria-labelledby="logo-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier le logo</h4>
            </div>
            <div class="modal-body">

                <div class="ui equal centered width grid">
                    <div class="equal width row">
                        <div class="column">
                            <h4>Photos actuelle</h4>
                            <img class="img-responsive img-for-edit"
                                 src="http://www.centrale-{{ centrale | centrale }}.fr/UploadFichiers/Uploads/CLIENT_{{ client[0].clId }}/{{ client[0].clLogo }}"/>
                            
                        </div>
                        <div class="column">



                            <form action="/file-upload" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>



                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success save-edit-logo">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="client-user-edit" tabindex="-1" role="dialog" aria-labelledby="client-user-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier l'utilisateur # pour le client {{ client[0].clRaisonSoc }}</h4>
            </div>
            <div class="modal-body">



            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success save-edit-logo">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>