{#{% for clients in client %}
    <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">
            <div class="ui items">
                <div class="item">
                    <div class="ui tiny image">
                        <img class="ui  tiny circular image"
                             src="http://www.centrale-roc-eclerc.fr/UploadFichiers/Uploads/CLIENT_{{ clients.clId }}/{{ clients.clLogo }}">
                    </div>
                    <div class="middle aligned content">
                        <a class="header">{{ clients.clRaisonSoc }}
                            <div class="ui label blue">VIP</div>
                            <div class="ui label green">ACTIF</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="info-client-comp">
                <h3>Informations complémentaires</h3>

                <div class="ui equal width grid">
                    <div class="equal width row">
                        <div class="column">
                            <p>Siret</p>
                            <p>Secteur d'activité</p>
                            <p>Nombre de salariés</p>
                            <p>Assigné à</p>
                            <p>Site web</p>
                        </div>
                        <div class="column">
                            <div class="label-info-client ui label"> {{ client[0].clSiret }} </div>
                            <br>
                            <div class="label-info-client ui label"> Non renseigné</div>
                            <br>
                            <div class="label-info-client ui label">{{ client[0].clEffectif }} </div>
                            <br>
                            <div class="label-info-client ui label"><i class="user icon"></i> Morgane</div>
                            <br>
                            <div class="label-info-client ui label"><a
                                        href="{{ client[0].clWeb ? " " : "Pas de site web.. " }}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="adresse-client">
                <div class="ui equal width grid">
                    <div class="equal width row">
                        <div class="column">
                            <p>Adresse</p>
                            <p>Ville/code postal</p>
                            <p>Numéro de téléphone</p>
                            <p>Adresse mail</p>

                        </div>
                        <div class="column">
                            <div class="label-info-client ui label"> {{ clients.clAdresse1 }} </div>
                            <div class="label-info-client ui label">{{ clients.clCp }} {{ clients.clVille }} </div>
                            <div class="label-info-client ui label"> {{ clients.clTel | phone }} </div>
                            <div class="label-info-client ui label"><a
                                        href="mailto:{{ clients.clMail }}">{{ clients.clMail }}</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="equal width row">
        <div class="column">


        </div>


    </div>
    <div class="column">


    </div>





{% endfor %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>FICHE CLIENT
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <div class="profile_img">

                        <!-- end of image cropping -->
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive img-rounded  avatar-view"
                                 src="http://www.centrale-roc-eclerc.fr/UploadFichiers/Uploads/CLIENT_{{ client[0].clId }}/{{ client[0].clLogo }}"
                                 alt="Logo" style="width: 35%">

                        </div>
                        <!-- end of image cropping -->

                    </div>
                    <h3> {{ client[0].clRaisonsoc }}</h3>

                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i>
                            {{ client[0].clAdresse1 }},<br>
                            {{ client[0].clVille }} {{ client[0].clCp }}
                        </li>
                    </ul>

                    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Modifier le profil</a>
                    <br/>
                    {% if client[0].clWeb %}
                        <li class="m-top-xs">
                            <i class="fa fa-external-link user-profile-icon"></i>
                            <a href="{{ client[0].clWeb }}" target="_blank">{{ client[0].clWeb }}</a>
                        </li>
                    {% endif %}

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">


                    <div>
                        <h2 class="profile_title">Données du client </h2>
                    </div>

                    <div>


                            <div class="donne-client">
                                    <p>Siret : {{ client[0].clSiret }}</p>
                                    <p>Mail : <a href="mailto:{{ client[0].clMail }}">{{ client[0].clMail }}</a></p>
                                    <p>Téléphone : {{ client[0].clTel | phone }}</p>
                                </div>



                    </div>





                    <div class="" role="tabpanel" data-example-id="togglable-tabs">


                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab_content1" id="home-tab"
                                   role="tab"
                                   data-toggle="tab" aria-expanded="true">
                                    Actions
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#tab_content2" role="tab" id="profile-tab"
                                   data-toggle="tab" aria-expanded="false">
                                    Notes
                                </a>
                            </li>
                        </ul>


                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                 aria-labelledby="home-tab">

                                <!-- start recent activity -->
                                <ul class="messages">


                                    {% for tasks in task %}
                                        <li>
                                            <div class="message_wrapper">
                                                <h4 class="heading">{{ tasks.claNom }}</h4>
                                                <blockquote class="message">
                                                    {{ tasks.claDescr }}
                                                </blockquote>
                                                {{ tasks.claEcheance | timeFromNow }}
                                                <br/>
                                            </div>
                                        </li>

                                    {% endfor %}

                                </ul>
                                <!-- end recent activity -->

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                <!-- start user projects -->
                                <table class="data table table-striped no-margin">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project Name</th>
                                        <th>Client Company</th>
                                        <th class="hidden-phone">Hours Spent</th>
                                        <th>Contribution</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">18</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="35"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>New Partner Contracts Consultanci</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">13</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"
                                                     data-transitiongoal="15"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Partners and Inverstors report</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">30</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="45"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">28</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="75"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- end user projects -->

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                                    squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
                                    anderson artisan four loko farm-to-table craft beer twee. Qui
                                    photo booth letterpress, commodo enim craft beer mlkshk </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#}

{{ dump(client) }}

