{% for clients in client %}
    <div class="ui equal width grid">
        <div class="equal width row">
            <div class="column">

                <div class="ui items">
                    <div class="item">
                        <div class="ui tiny image">
                            <img class="ui  tiny circular image"
                                 src="http://www.centrale-roc-eclerc.fr/UploadFichiers/Uploads/CLIENT_{{ clients.clId }}/{{ clients.clLogo }}">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">{{ clients.clRaisonSoc }}</a>
                        </div>
                    </div>
                </div>


                <h3>Centrale Roc-Eclerc</h3>
                <div class="ui equal width grid">
                    <div class="equal width row">
                        <div class="column">
                            <div class="ui label blue">VIP</div>
                            <div class="ui label green">ACTIF</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="ui  adresse-client">

                    <p>{{ clients.clAdresse1 }}</p>
                    <p>{{ clients.clVille }} {{ clients.clCp }}</p>
                    <p>Numero de téléphone : {{ clients.clTel | phone }}</p>
                    <p>Adresse mail : <a href="mailto:{{ clients.clMail }}">{{ clients.clMail }}</a></p>
                </div>
            </div>
        </div>
    </div>



{% endfor %}