<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% for produit in produits %}

        {{ produit.faId }}<br>
        {{ produit.foId }}<br>
        {{ produit.insDate | date }}<br>
        {{ produit.insUser }}<br>
        {{ produit.majDate | date }}<br>
        {{ produit.majUser }}<br>

    {% endfor %}
</body>
</html>