{% extends 'base.html.twig' %}

{% block title %}
    TAGS - ACHAT-CENTRALE
{% endblock %}

{% block body %}

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_90">
                <div class="x_content">

                    <div class="ui grid">
                        <div class="one wide column">
                            <i class="search huge icon"></i>
                        </div>
                        <div class="eight wide column hastag_search">
                            <p>#{{ app.request.attributes.get('id') }}</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>



    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_320">

                <div class="x_content">

                    <div id='container-tabme-tag' style='height:500px;overflow-x:scroll'>



                        <table class="ui very basic table">
                        <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Centrale</th>
                            <th>Raison social</th>
                            <th>Adresse</th>
                            <th>Tel</th>
                            <th>Siret</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tag %}

                            <tr>
                                <td>{{ t['CL_REF'] }}</td>
                                <td>{{ t['SO_ID'] | centrale | centraleLabel |raw }}</td>
                                <td><a href="{{ path('client-general', {'id' :  t['CL_ID'] , 'centrale' :  t['SO_ID'] | centrale }) }}">{{ t['CL_RAISONSOC'] }}</a></td>
                                <td>{{ t['CL_ADRESSE1'] }}</td>
                                <td>{{ t['CL_TEL'] | phone }}</td>
                                <td>{{ t['CL_SIRET'] | siret }}</td>
                            </tr>


                        {% endfor %}

                        </tbody>
                    </table>
                    </div>

                </div>

            </div>
        </div>


    </div>



    <div class="row">


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2><i class="ticket icon"></i>Tickets</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">

                        <ul class="list-unstyled timeline widget">
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Intérêt pour un produit</a>
                                        </h2>
                                        <div class="byline">
                                            <span>Il y a 13 heures</span> par <a>Céline Louis</a>
                                        </div>
                                        <p class="excerpt">Bonjour Madame MARTIN,

                                            Je fais suite à votre demande de devis auprès de notre partenaire Achat
                                            Central...<a>Lire la suite</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Intérêt pour un produit</a>
                                        </h2>
                                        <div class="byline">
                                            <span>Il y a 13 heures</span> par <a>Céline Louis</a>
                                        </div>
                                        <p class="excerpt">Bonjour Madame MARTIN,

                                            Je fais suite à votre demande de devis auprès de notre partenaire Achat
                                            Central...<a>Lire la suite</a>
                                        </p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2>Actions</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>

            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2>Notes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="ui feed">
                        <div class="event">
                            <div class="label">
                                <i class="sticky note icon"></i>
                            </div>
                            <div class="content">
                                <div class="summary">
                                    Le client a voulu tester les imprimantes
                                    <a>Roc-eclerc Ordener</a>
                                    <div class="date">Il ya 2 mois</div>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="label">
                                <i class="sticky note icon"></i>
                            </div>
                            <div class="content">
                                <div class="summary">
                                    Le client a voulu tester les imprimantes
                                    <a>Roc-eclerc Ordener</a>
                                    <div class="date">Il ya 2 mois</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>



{% endblock %}

