{% extends 'base.html.twig' %}

{% block body %}

    <!-- page content -->

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ajouter une tâche</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="form-add-action">


                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <div class="ui equal width form">

                                    <div class="two fields">
                                        <div class="field">
                                            <label>{{ form_label(form.claType) }}</label>
                                            <div class="field">
                                                {{ form_widget(form.claType) }}
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>{{ form_label(form.claNom) }}</label>
                                            {{ form_errors(form.claNom) }}
                                            {{ form_widget(form.claNom) }}
                                        </div>
                                    </div>


                                    <div class="two fields">
                                        <div class="field">
                                            <label>{{ form_label(form.claEcheance) }}</label>
                                            <div class="field">
                                                {{ form_widget(form.claEcheance) }}
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>{{ form_label(form.claPriorite) }}</label>
                                            <div class="field">
                                                {{ form_widget(form.claPriorite) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field">
                                            <label>{{ form_label(form.usId) }}</label>
                                            <div class="field">
                                                {{ form_widget(form.usId) }}
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>{{ form_label(form.cl) }}</label>
                                            <div class="field">
                                                {{ form_widget(form.cl) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>{{ form_label(form.claDescr) }}</label>
                                        {{ form_errors(form.claDescr) }}
                                        {{ form_widget(form.claDescr) }}
                                    </div>

                                    <div class="btn-submit-action">
                                        {{ form_label(form.submit) }}
                                        {{ form_widget(form.submit) }}
                                    </div>

                                </div>

                                {{ form_end(form) }}




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->





{% endblock %}