{% extends 'base.html.twig' %}

{% block body %}

    <!-- page content -->

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Modifier une tâche</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="form-add-action">
                        <form class="ui form" method="post" action="{{ path('update-task', { 'centrale' : centrale, 'id' : id})  }}">
                            <div style="margin-bottom: 1rem;" class="ui equal width grid">
                                <div class="equal width row">
                                    <div class="column">

                                        <div class="field">
                                            <label>Date d'échéance</label>
                                            <div class='input-group date' id='datetimepicker3'>
                                                <input required type="text"  class="add-action form-control" name="cla_echeance" placeholder="{{ task[0]['CLA_ECHEANCE']}}">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>



                                        <div class="field">
                                            <label>Priorité de l'action</label>
                                            <select required name="cla_priorite" class="ui dropdown">
                                                <option selected value="">Priorité de l'action</option>
                                                <option value="1">Important</option>
                                                <option value="2">Normale</option>
                                                <option value="3">Faible</option>
                                            </select>
                                        </div>


                                    </div>



                                    <div class="column">

                                        <div class="field">
                                            <label>Nom de l'action</label>
                                            <input  required type="text"  name="cla_nom"
                                                   value="{{ task[0]['CLA_NOM'] }}"  maxlength="50">
                                        </div>



                                        <div class="field">
                                            <label>Utilisateur assigné </label>
                                            <select required name="cla_us" class="ui dropdown fluid ">
                                                {% for us in user %}
                                                    {% if us["US_ID"]  is same as(user_task) %}
                                                        <option selected value="{{ us["US_ID"] }}">{{ us["US_PRENOM"] }} {{  us["US_NOM"] }}</option>
                                                    {% endif %}
                                                    <option value="{{ us["US_ID"] }}">{{ us["US_PRENOM"] }} {{  us["US_NOM"] }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>



                            <button type="submit" class="fluid positive ui button"> Enregistré</button>
                        </form>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <!-- /page content -->





{% endblock %}