{% extends 'base.html.twig' %}




{% block body %}


    <div class="hidden-centrale">
        <p id="centrale">{{ centrale }}</p>
    </div>

    <!-- page content -->

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajouter une tâche</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <div class="form-add-action">
                        <form class="ui form" method="post" action="{{ path('new-task', { 'c' : centrale}) }}">
                            <div class="ui equal width grid">
                                <div class="equal width row">
                                    <div class="column">


                                        <div class="field">
                                            <label>Type de l'action</label>
                                            <select required name="cla_type" class="ui dropdown">
                                                <option selected value="">Type de l'action</option>
                                                {% for ty in type %}
                                                    <option value="{{ ty.acId }}">{{ ty.acNom }}</option>

                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Date d'échéance</label>
                                            <input required type="text" class="date add-action" name="cla_echeance"
                                                   placeholder="Date d'échéance">
                                        </div>
                                        <div class="field">
                                            <label>Priorité de l'action</label>
                                            <select required name="cla_priorite" class="ui dropdown">
                                                <option selected value="">Priorité de l'action</option>
                                                <option value="1">A faire au plus vite</option>
                                                <option value="2">Important</option>
                                                <option value="3">Moyen</option>
                                                <option value="4">Faible</option>
                                                <option value="5">Un jour peut-être</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="column">

                                        <div class="field">
                                            <label>Nom de l'action</label>
                                            <input required type="text"  name="cla_nom"
                                                   placeholder="Nom de l'action" maxlength="50">
                                        </div>
                                        <div class="ui search field clients-auto">
                                            <label>Clients</label>
                                            <div class="ui left icon  input">
                                                <input name="cla_cl" required class="prompt" type="text" placeholder="Clients associé a l'action">
                                                <i class="id Card Outline icon"></i>
                                            </div>
                                        </div>

                                        {#<div class="field">#}
                                            {#<label>Client associé a l'action</label>#}
                                            {#<select required name="cla_cl" class="ui dropdown">#}
                                                {#<option selected value="">Client associé a l'action</option>#}
                                                {#{% for cl in client %}#}
                                                    {#<option value="{{ cl.clId }}">{{ cl.clRaisonsoc }}</option>#}
                                                {#{% endfor %}#}

                                            {#</select>#}
                                        {#</div>#}
                                        {#<div class="field">#}
                                            {#<label>Utilisateur assigné </label>#}
                                            {#<select required name="cla_us" class="ui dropdown">#}
                                                {#<option selected value="">Client associé a l'action</option>#}
                                                {#{% for us in user %}#}
                                                    {#<option value="{{ us.usId }}">{{ us.usPrenom }} {{  us.usNom }}</option>#}
                                                {#{% endfor %}#}
                                            {#</select>#}
                                        {#</div>#}
                                        <div class="ui search field user-auto">
                                            <label>Utilisateur</label>
                                            <div class="ui left icon  input">
                                                <input class="prompt" required name="cla_us" type="text" placeholder="Utilisateur associé a l'action">
                                                <i class="user icon"></i>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="field">
                                <label>Description de l'action</label>
                                <textarea required class="text-area-validation" name="cla_desc" rows="2"></textarea>
                                <p id="countTextarea"></p>
                            </div>

                            <button type="submit" class="fluid positive ui button"> Enregistré</button>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- /page content -->





{% endblock %}