{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Clients</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="ation-toolbox">
                    <div class="ui equal width grid">
                        <div class="equal width row">
                            <div class="column"><input type="text" class="form-control" placeholder="Nom de l'entreprise" id="usr"></div>
                            <div class="column"><a href="{{ path('client-new') }}" class="ui button green" id="btn-new-cl" role="button">Ajouter un nouveau client</a></div>
                        </div>
                    </div>


                </div>
                <div class="ui divider"></div>









                <div class="x_content ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                            <ul class="pagination pagination-split">
                                <li><a href="#">
                                        <img
                                                data-centrale="all"
                                                class="cursor  img-circle img-centrale"
                                                src="{{ asset('images/logo-centrale/logo-all.png') }}">
                                    </a>
                                </li>
                                <li><a href="#">
                                        <img
                                                data-centrale="CENTRALE_FUNECAP"
                                                class="cursor img-centrale"
                                                src="{{ asset('images/logo-centrale/logo-centrale-funecap.png') }}">
                                    </a>
                                </li>
                                <li><a href="#">
                                        <img
                                                data-centrale="CENTRALE_ROC_ECLERC"
                                                class="cursor img-centrale"
                                                src="{{ asset('images/logo-centrale/logo-centrale-roc.png') }}">
                                    </a>
                                </li>
                                <li><a href="#">
                                        <img
                                                data-centrale="achat-centrale"
                                                class="cursor img-centrale"
                                                src="{{ asset('images/Logo_AchatCentrale.jpg') }}">
                                    </a></li>
                                <li><a href="#">
                                        <img
                                                data-centrale="centrale-gccp"
                                                class="cursor img-centrale"
                                                src="{{ asset('images/logo-centrale/logo-centrale-gccp.png') }}"></a>
                                </li>
                                <li><a href="#">
                                        <img
                                                data-centrale="centrale-pfpl"
                                                class="cursor img-centrale"
                                                src="{{ asset('images/logo-centrale/logo-pfpl.png') }}">

                                    </a></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>

                        <div class="client-all">


                                <table id="client-all" class="display hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Réf</th>
                                        <th>Centrale</th>
                                        <th>Raison Sociale</th>
                                        <th>Adresse</th>
                                        <th>Tel</th>
                                        <th>Siret</th>
                                        <th>Etat</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Réf</th>
                                        <th>Centrale</th>
                                        <th>Raison Sociale</th>
                                        <th>Adresse</th>
                                        <th>Tel</th>
                                        <th>Siret</th>
                                        <th>Etat</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for cl in client  %}
                                    <tr data-centrale="{{ cl.SO_RAISONSOC }}" data-id="{{ cl.CL_ID }}" class="cursor go-to-client" >
                                        <td>{{ cl.CL_REF }}</td>
                                        <td>{{ cl.SO_RAISONSOC }}</td>
                                        <td>{{ cl.CL_RAISONSOC }}</td>
                                        <td>{{ cl.CL_CP }} {{ cl.CL_VILLE }}</td>
                                        <td>{{ cl.CL_TEL | phone }}</td>
                                        <td>{{ cl.CL_SIRET | siret }}</td>
                                        <td>{{ cl.CL_ADHESION }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->






{% endblock %}

