{% include 'base.html.twig' %}


{% block body %}

{{ dump(user) }}

    <img class="img-home" src="{{ asset('Public/images/logo-achatCentrale.png') }}" alt="Logo">
    <h1 class="fw-300">Veuillez vous identifiez</h1>


    <div class="login-group">


        {{ form_start(form,
            {
                'attr': {'class': 'ink-form login-group-input'}
            }
        )

        }}
        {{ form_errors(form) }}

        <div class="control-group align-left">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            <div class="control">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <br>
        <div class="control-group align-left ">
            {{ form_label(form.Password) }}
            {{ form_errors(form.Password) }}
            <div class="control">
                {{ form_widget(form.Password) }}
            </div>
        </div>
        <br>
        <div>
            {{ form_widget(form.send, { 'label': 'Se connecter' }) }}
        </div>

        {{ form_end(form) }}

    </div>


{% endblock %}