{% extends 'base.html.twig' %}


{% block body %}

    {{ dump(task) }}

  <div class="ui container taches-container">

          <button class=" ui button"><a href="{{ path('new-task') }}">Ajouter une tâche</a></button>



      <h3 class="ui center aligned header" >Tâches</h3>


    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">En cours</a>
      <a class="item" data-tab="second">Terminées</a>
      <a class="item" data-tab="third">Délégués</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">

      <table class="ui striped table">
        <thead>
        <tr>
          <th>Date de création</th>
          <th>Échéances</th>
          <th>Assigné à</th>
          <th>Type</th>
          <th>Description</th>
          <th>Priorité</th>
          <th>Nom client</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
       {% for tasks in task %}
           <tr>
               <td>{{ tasks.insDate | Time  }}</td>
               <td>{{ tasks.claEcheance | Time }}</td>
               <td><div class="ui label"> <i class="user icon"></i>{{ user }}</div></td>
               <td><div class="ui label"> {{ tasks.claType | type }}</div></td>
               <td>{{ tasks.claDescr }}</td>
               <td><div class="ui orange label"> {{ tasks.claPriorite }}</div></td>
               <td>{{ tasks.cl.clRaisonsoc }}</td>
               <td><i class="checkmark large icon cursor"></i><i class="write large icon cursor"></i><i id="{{ tasks.claId }}" class="trash red large icon cursor"></i></td>
           </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <table class="ui striped table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Priorité</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>28-03-2016</td>
                <td><div class="ui label"> Relance</div></td>
                <td>Le client a besoin de payer la facture</td>
                <td><div class="ui orange label"> 3</div></td>
                <td>Roc-Eclerc Ordener</td>
                <td><i class="checkmark large icon cursor"></i><i class="write large icon cursor"></i><i class="trash red large icon cursor"></i></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">

        <table class="ui striped table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Priorité</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>28-03-2016</td>
                <td><div class="ui label"> Relance</div></td>
                <td>Le client a besoin de payer la facture</td>
                <td><div class="ui orange label"> 3</div></td>
                <td>Roc-Eclerc Ordener</td>
                <td><i class="checkmark large icon cursor"></i><i class="write large icon cursor"></i><i class="trash red large icon cursor"></i></td>
            </tr>

            </tbody>
        </table>

    </div>
  </div>
{% endblock  %}

{% block javascripts %}
  <script type="application/javascript" >
      $('.menu .item').tab();




      $('.trash').on('click', function (e) {
          deleteTask(e.currentTarget.id);
      })
  </script>

{% endblock %}
