{% extends 'base.html.twig' %}


{% block body %}


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tâches</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <a href="{{ path('new-task') }}" class="btn btn-success" role="button">Ajouter une tâche</a>


                    <div class="tab-task" role="tabpanel" data-example-id="togglable-tabs">

                        <table class="ui striped table">
                            <thead>
                            <tr>
                                <th class="one wide">Type</th>
                                <th class="one wide">Nom de l'action</th>
                                <th class="one wide">Date de creation</th>
                                <th class="one wide">Assigné à</th>
                                <th class="two wide">Date d'échéance</th>
                                <th class="seven wide">Description</th>
                                <th class="one wide">Priorité</th>
                                <th class="one wide">Statut de l'action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for tasks in task %}


                                <tr class="task-id " data-task="{{ tasks['CLA_ID'] }} " id="{{ tasks['CLA_ID'] }}">
                                    <td>
                                        <div>{{ tasks['CLA_TYPE'] | type | raw }}</div>
                                    </td>
                                    <td>
                                        <h5><a class="detail-tache cursor" >{{ tasks['CLA_NOM'] }}</a></h5>
                                    </td>
                                    <td>
                                        <div>
                                            {{ tasks['INS_DATE'] | dateString }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                    </td>
                                    <td>
                                        {{ tasks['CLA_ECHEANCE'] | fromNowString }}
                                    </td>
                                    <td class="justify" ><h4>{{ tasks['CLA_DESCR'] | convert_encoding('UTF-8', 'Windows-1252') }}</h4></td>
                                    <td>{{ tasks['CLA_PRIORITE'] | priorite | raw }}</td>
                                    <td>{{ tasks['CLA_STATUS'] | etat | raw }}</td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title-task"></h4>
                </div>
                <div class="modal-body body-task-detail">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->

{% endblock %}

