{% extends 'base.html.twig' %}


{% block body %}


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tâches</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <a href="{{ path('new-task') }}" class="btn btn-success" role="button">Ajouter une tâche</a>


                    <div class="tab-task" role="tabpanel" data-example-id="togglable-tabs">


                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">


                            <li role="presentation" class="active">
                                <a href="#en_cour" role="tab" id="profile-tab"
                                   data-toggle="tab" aria-expanded="false">
                                    En cours
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#termine" id="home-tab"
                                   role="tab"
                                   data-toggle="tab" aria-expanded="true">
                                    Archivée
                                </a>
                            </li>

                        </ul>


                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in " id="en_cour"
                                 aria-labelledby="profile-tab">
                                {% if task %}
                                    <table class="ui striped table">
                                        <thead>
                                        <tr>
                                            <th class="one wide">Type</th>
                                            <th class="two wide">Nom de l'action</th>
                                            <th class="one wide">Date de creation</th>
                                            <th class="one wide">Assigné à</th>
                                            <th class="six wide">Description</th>
                                            <th class="one wide">Priorité</th>
                                            <th class="two wide">Nom client</th>
                                            <th class="one wide">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tasks in task %}
                                            {% if tasks.claStatus == 0 %}
                                                <tr class="task-id  " data-task="{{ tasks.claId }} " id="{{ tasks.claId }}">
                                                    <td>
                                                        <div class="ui label"> {{ tasks.claType | type }}</div>
                                                    </td>
                                                    <td>
                                                        <h5><a class="detail-tache cursor" >{{ tasks.claNom }}</a></h5>
                                                    </td>
                                                    <td>
                                                        <div class="ui label">
                                                            {{ tasks.insDate | Time }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                                    </td>

                                                    <td><h4>{{ tasks.claDescr | convert_encoding('UTF-8', 'Windows-1252') }}</h4></td>
                                                    <td>{{ tasks.claPriorite | priorite | raw }}</td>
                                                    <td>{#<a href="{{ path('client-general', { 'id' : tasks.cl.clId, 'centrale' : tasks.cl.}, '') }}">{{ tasks.cl.clRaisonsoc }}</a>#}</td>
                                                    <td><i id="{{ tasks.claId }}"
                                                           class="check  large icon cursor"></i></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}


                            </div>

                            <div role="tabpanel" class="tab-pane fade " id="termine"
                                 aria-labelledby="home-tab">

                                {% if task is defined %}
                                    <table class="ui striped table">
                                        <thead>
                                        <tr>

                                            <th>Crée le </th>
                                            <th>Assigné à</th>
                                            <th>Nom de l'action</th>
                                            <th>Nom client</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for tasks in task %}

                                            {% if tasks.claStatus == 1 %}
                                                <tr id="{{ tasks.claId }}">
                                                    <td><h6>{{ tasks.insDate | Time }}</h6></td>

                                                    <td>
                                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                                    </td>

                                                    <td>{{ tasks.claDescr }}</td>
                                                    <td></td>

                                                </tr>
                                            {% endif %}

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}

                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Détail de la Tâche #{{ task[0].claId }}</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <div class="detail-tache-data" >
                    <div class="ui equal width grid">
                        <div class="equal width row">
                            <div class="column">
                                <p>Titre de la tache : {{ task[0].claNom }}</p>
                                <p>description de la tache : {{ task[0].claDescr }}</p>
                            </div>
                            <div class="column">
                                <button type="button" class="btn btn-primary btn-lg">Modifier la tâche</button>
                                <button type="button" class="btn btn-primary btn-lg">Assigner une autre personne</button>
                            </div>
                        </div>
                    </div>

                </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->

{% endblock %}

