{% extends 'base.html.twig' %}


{% block body %}


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tâches</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#modal-choix-centrale">Ajouter une tâche
                    </button>

                    {% if task %}
                        <div class="tab-task" role="tabpanel" data-example-id="togglable-tabs">
                            <table id="table-tache" class="display hover">
                                <thead>
                                <tr>
                                    <th class="one wide">Type</th>
                                    <th class="one wide">Priorité</th>
                                    <th class="one wide">Statut de l'action</th>
                                    <th class="one wide">Date d'échéance</th>
                                    <th class="one wide">Assigné à</th>
                                    <th class="two wide">Nom de l'action</th>
                                    <th class="four wide">Description</th>
                                    <th class="two wide">Nom du client</th>
                                    <th class="one wide">Date de creation</th>
                                    <th class="one wide">Centrale</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for tasks in task %}

                                    <tr class="task-id " data-task="{{ tasks['CLA_ID'] }} "
                                        data-centrale="{{ tasks['SO_ID'] }}" id="{{ tasks['CLA_ID'] }}">
                                        <td>
                                            <div>{{ tasks['CLA_TYPE'] | type | raw }}</div>
                                        </td>
                                        <td>{{ tasks['CLA_PRIORITE'] | priorite | raw }}</td>
                                        <td>{{ tasks['CLA_STATUS'] | etat | raw }}</td>
                                        <td>
                                            {{ tasks['CLA_ECHEANCE'] | dateString }}
                                        </td>
                                        <td>
                                            <div class="ui label"><i
                                                        class="user icon"></i>{{ tasks['US_ID'] | userFilter }}</div>
                                        </td>
                                        <td>
                                            <div>
                                                <h5><a class="detail-tache cursor">{{ tasks['CLA_NOM'] }}</a></h5>
                                                {#<span class="count_bottom">Modifié le : {{ tasks['MAJ_DATE'] }} </span>#}
                                            </div>
                                        </td>
                                        <td class="justify">
                                            <h4>{{ tasks['CLA_DESCR'] | convert_encoding('UTF-8', 'Windows-1252') | limitLength }}</h4>
                                        </td>




                                        {% if tasks['CL_ID'] == null %}


                                            <td><b>TEAM</b></td>



                                        {% else %}



                                            <td>
                                                <p>
                                                    <a href="{{ path('client-general', { 'centrale' : tasks['SO_ID'] | centrale , 'id' : tasks['CL_ID'] }) }}">
                                                        {{ render(controller('SiteBundle:Base:getClientRaisonSoc', { "id" : tasks['CL_ID'], "centrale" : tasks['SO_ID'] })) }}
                                                    </a>
                                                </p>
                                            </td>



                                        {% endif %}


                                        <td>
                                            <div>
                                                {{ tasks['INS_DATE'] | fromNowString }}
                                            </div>
                                        </td>




                                        <td>{{ tasks['SO_ID'] | centraleLabel | raw }}</td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}

                        <p>Il n'y a pas de tâches pour le moment</p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>


    <!-- Modal detail action -->
    <div class="modal fade" id="modal-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title-task"></h4>
                </div>
                <div class="modal-body body-task-detail">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Choix centrale -->
    <div id="modal-choix-centrale" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Choississez la centrale</h4>
                </div>
                <div class="modal-body">
                    <p>Pour ajouter un nouveau client, choisir d'abord la centrale</p>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                        <ul class="pagination pagination-split">
                            <li><a href="{{ path('new-task', { 'c' : 'funecap'}) }}">
                                    <img
                                            data-centrale="CENTRALE_FUNECAP"
                                            class="cursor img-centrale-new-client"
                                            src="{{ asset('images/logo-centrale/logo-centrale-funecap.png') }}">
                                </a>
                            </li>
                            <li><a href="{{ path('new-task', { 'c' : 'roc'}) }}">
                                    <img
                                            data-centrale="CENTRALE_ROC_ECLERC"
                                            class="cursor img-centrale-new-client"
                                            src="{{ asset('images/logo-centrale/logo-centrale-roc.png') }}">
                                </a>
                            </li>
                            <li><a href="{{ path('new-task', { 'c' : 'ac'}) }}">
                                    <img
                                            data-centrale="ACHAT_CENTRALE"
                                            class="cursor img-centrale-new-client"
                                            src="{{ asset('images/logo-centrale/logo-ac.png') }}">
                                </a>
                            </li>
                            <li><a href="{{ path('new-task', { 'c' : 'pfpl'}) }}">
                                    <img
                                            data-centrale="pfpl"
                                            class="cursor img-centrale-new-client"
                                            src="{{ asset('images/logo-centrale/logo-pfpl.jpg') }}">
                                </a>
                            </li>
                            <li><a href="{{ path('new-task', { 'c' : 'gccp'}) }}">
                                    <img
                                            data-centrale="gccp"
                                            class="cursor img-centrale-new-client"
                                            src="{{ asset('images/logo-centrale/logo-centrale-gccp.png') }}">
                                </a>
                            </li>

                            {#<li><a href="{{ path('client-new', { 'centrale' : 3}) }}">#}
                            {#<img#}
                            {#data-centrale="achat-centrale"#}
                            {#class="cursor img-centrale-new-client"#}
                            {#src="{{ asset('images/logo-centrale/logo-ac.png') }}">#}
                            {#</a></li>#}

                        </ul>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>



    <!-- /page content -->

{% endblock %}

