{% extends 'base.html.twig' %}


{% block body %}


    <div class="ui  taches-container">


        <a href="{{ path('new-task') }}" class="btn btn-success" role="button">Ajouter une tâche</a>




        <h3 class="ui center aligned header">Tâches</h3>




        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-fill tab-tache" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">En cour</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Terminé</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                {% if task  %}
                    <table class="ui striped table">
                        <thead>
                        <tr>
                            <th>Nom de l'action</th>
                            <th>Échéances</th>
                            <th>Assigné à</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Priorité</th>
                            <th>Nom client</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tasks in task %}
                            {% if tasks.claStatus == 0  %}
                                <tr id="{{ tasks.claId }}" >
                                    <td><h3>{{ tasks.claNom }}</h3></td>
                                    <td>{{ tasks.claEcheance | timeFromNow }}</td>
                                    <td>
                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                    </td>
                                    <td>
                                        <div class="ui label"> {{ tasks.claType | type }}</div>
                                    </td>
                                    <td>{{ tasks.claDescr }}</td>
                                    <td>{{ tasks.claPriorite | priorite | raw }}</td>
                                    <td><a href="{{ path('client-general', { 'id' : tasks.cl.clId}) }}">{{ tasks.cl.clRaisonsoc }}</a></td>
                                    <td><i class="checkmark large icon cursor"></i><i
                                                id="{{ tasks.claId }}" class="trash red large icon cursor"></i></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}


            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                {% if task is defined %}
                    <table class="ui striped table">
                        <thead>
                        <tr>
                            <th>Nom de l'action</th>
                            <th>Échéances</th>
                            <th>Assigné à</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Priorité</th>
                            <th>Nom client</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for tasks in task %}

                            {% if tasks.claStatus == 1 %}
                                <tr id="{{ tasks.claId }}" >
                                    <td><h3>{{ tasks.claNom }}</h3></td>
                                    <td>{{ tasks.claEcheance | timeFromNow }}</td>
                                    <td>
                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                    </td>
                                    <td>
                                        <div class="ui label"> {{ tasks.claType | type }}</div>
                                    </td>
                                    <td>{{ tasks.claDescr }}</td>
                                    <td>{{ tasks.claPriorite | priorite | raw }}</td>
                                    <td><a href="{{ path('client-general', { 'id' : tasks.cl.clId}) }}">{{ tasks.cl.clRaisonsoc }}</a></td>
                                    <td></td>
                                </tr>
                            {% endif %}

                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}
            </div>

        </div>



    </div>


    <script type="application/javascript">

    </script>
{% endblock %}

