{% extends 'base.html.twig' %}


{% block body %}


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tâches</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <a href="{{ path('new-task') }}" class="btn btn-success" role="button">Ajouter une tâche</a>


                    <div class="tab-task" role="tabpanel" data-example-id="togglable-tabs">


                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">


                            <li role="presentation" class="active">
                                <a href="#en_cour" role="tab" id="profile-tab"
                                   data-toggle="tab" aria-expanded="false">
                                    En cours
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#termine" id="home-tab"
                                   role="tab"
                                   data-toggle="tab" aria-expanded="true">
                                    Archivée
                                </a>
                            </li>

                        </ul>


                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in " id="en_cour"
                                 aria-labelledby="profile-tab">
                                {% if task_en_cour %}


                                    <table class="ui striped table">
                                        <thead>
                                        <tr>
                                            <th class="one wide">Type</th>
                                            <th class="two wide">Nom de l'action</th>
                                            <th class="one wide">Date de creation</th>
                                            <th class="one wide">Assigné à</th>
                                            <th class="two wide">Date d'échéance</th>
                                            <th class="three wide">Description</th>
                                            <th class="one wide">Priorité</th>
                                            <th class="two wide">Nom client</th>
                                            <th class="one wide">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tasks in task_en_cour %}



                                                <tr class="task-id  " data-task="{{ tasks.claId }} " id="{{ tasks.claId }}">
                                                    <td>
                                                        <div class="ui label"> {{ tasks.claType | type }}</div>
                                                    </td>
                                                    <td>
                                                        <h5><a class="detail-tache cursor" >{{ tasks.claNom }}</a></h5>
                                                    </td>
                                                    <td>
                                                        <div class="ui label">
                                                            {{ tasks.insDate | Time }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                                    </td>
                                                    <td>{{ tasks.claEcheance | timeFromNow }}</td>
                                                    <td><h4>{{ tasks.claDescr | convert_encoding('UTF-8', 'Windows-1252') }}</h4></td>
                                                    <td>{{ tasks.claPriorite | priorite | raw }}</td>
                                                    <td>{#<a href="{{ path('client-general', { 'id' : tasks.cl.clId, 'centrale' : tasks.cl.}, '') }}">{{ tasks.cl.clRaisonsoc }}</a>#}</td>
                                                    <td><i id="{{ tasks.claId }}"
                                                           class="check  large icon cursor"></i></td>
                                                </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}


                            </div>

                            <div role="tabpanel" class="tab-pane fade " id="termine"
                                 aria-labelledby="home-tab">

                                {% if task_acheve is defined %}
                                    <table class="ui striped table">
                                        <thead>
                                        <tr>

                                            <th>Crée le </th>
                                            <th>Modifié le </th>
                                            <th>Assigné à</th>
                                            <th>Nom de l'action</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for tasks in task_acheve %}

                                            {% if tasks.claStatus == 1 %}
                                                <tr id="{{ tasks.claId }}">
                                                    <td><h6>{{ tasks.insDate | Time }}</h6></td>
                                                    {% if tasks.majDate %}
                                                        <td><h6>{{ tasks.majDate | Time }}</h6></td>
                                                        {% else %}
                                                            <td><h6>Aucune date encore</h6></td>
                                                    {% endif %}


                                                    <td>
                                                        <div class="ui label"><i class="user icon"></i>{{ user }}</div>
                                                    </td>

                                                    <td>{{ tasks.claDescr }}</td>
                                                    <td></td>

                                                </tr>
                                            {% endif %}

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}

                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title-task"></h4>
                </div>
                <div class="modal-body body-task-detail">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->

{% endblock %}

