{% extends 'base.html.twig' %}

{% block title %} ACHAT-CENTRALE CRM | Fournisseurs {% endblock %}

{% block body %}




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Fournisseurs</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="ation-toolbox">
                    <div class="ui equal width grid">
                        <div class="equal width row">

                            <div class="column">

                                <button class="ui button green" id="btn-new" role="button">Ajouter un nouveau fournisseurs

                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="ui divider"></div>


                <div class="x_content ">
                    <div class="row">
                        {#<div class="col-md-12 col-sm-12 col-xs-12 text-center ">#}
                            {#<ul class="pagination pagination-split">#}
                                {#<li class="{% if app.request.query.get('c') == 'all' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "all"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="all"#}
                                                {#class="cursor  img-circle img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-all.png') }}">#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="{% if app.request.query.get('c') == 'fun' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "fun"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="CENTRALE_FUNECAP"#}
                                                {#class="cursor img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-centrale-funecap.png') }}">#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="{% if app.request.query.get('c') == 'roc' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "roc"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="CENTRALE_ROC_ECLERC"#}
                                                {#class="cursor img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-centrale-roc.png') }}">#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="{% if app.request.query.get('c') == 'ac' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "ac"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="achat-centrale"#}
                                                {#class="cursor img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-ac.png') }}">#}
                                    {#</a></li>#}
                                {#<li class="{% if app.request.query.get('c') == 'gccp' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "gccp"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="centrale-gccp"#}
                                                {#class="cursor img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-centrale-gccp.png') }}"></a>#}
                                {#</li>#}
                                {#<li class="{% if app.request.query.get('c') == 'pfpl' %}active-centrale{% endif %}">#}
                                    {#<a href="{{ path("client", { "c" : "pfpl"}) }}">#}
                                        {#<img#}
                                                {#data-centrale="centrale-pfpl"#}
                                                {#class="cursor img-centrale"#}
                                                {#src="{{ asset('images/logo-centrale/logo-pfpl.jpg') }}">#}

                                    {#</a></li>#}
                            {#</ul>#}
                        {#</div>#}

                        <div class="clearfix"></div>

                        <div class="fournisseurs-all">

                            <table id="fournisseurs-all" class="display hover" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Réf</th>
                                    <th>Raison Sociale</th>
                                    <th>Adresse</th>
                                    <th>Tel</th>
                                    <th>Siret</th>
                                    <th>Etat</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Réf</th>
                                    <th>Raison Sociale</th>
                                    <th>Adresse</th>
                                    <th>Tel</th>
                                    <th>Siret</th>
                                    <th>Etat</th>
                                </tr>
                                </tfoot>

                                <tbody>
                                {% for fo in fournisseurs %}
                                        <tr data-centrale="{{ fo.FO_RAISONSOC }}" data-id="{{ fo.FO_ID }}"
                                            class="cursor go-to-fournisseur">
                                            <td>{{ fo.FO_REF }}</td>
                                            <td>{{ fo.FO_RAISONSOC |  convert_encoding('UTF-8', 'Windows-1252') }}</td>
                                            <td>{{ fo.FO_CP }} {{ fo.FO_VILLE |  convert_encoding('UTF-8', 'Windows-1252') | formatVille }}</td>
                                            <td>{{ fo.FO_TEL | phone }}</td>
                                            <td>{{ fo.FO_SIRET | siret }}</td>
                                            <td>{{ fo.FO_STATUS  }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>



                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->







{% endblock %}

