{% include 'base.html.twig' %}


{% block body %}


    <h1>update client</h1>




    {{ form_start(form, {'attr': {'class': 'ink-form new-group-input'}}) }}
    {{ form_errors(form) }}
    <div class="ink-grid">
        <div class="column-group horizontal-gutters">
            <div class="all-25">

                <div class="control-group align-left">
                    {{ form_label(form.clRef) }}
                    {{ form_errors(form.clRef) }}
                    <div class="control">
                        {{ form_widget(form.clRef) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clRaisonsoc) }}
                    {{ form_errors(form.clRaisonsoc) }}
                    <div class="control">
                        {{ form_widget(form.clRaisonsoc) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clSiret) }}
                    {{ form_errors(form.clSiret) }}
                    <div class="control">
                        {{ form_widget(form.clSiret) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clAdresse1) }}
                    {{ form_errors(form.clAdresse1) }}
                    <div class="control">
                        {{ form_widget(form.clAdresse1) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clAdresse2) }}
                    {{ form_errors(form.clAdresse2) }}
                    <div class="control">
                        {{ form_widget(form.clAdresse2) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clEffectif) }}
                    {{ form_errors(form.clEffectif) }}
                    <div class="control">
                        {{ form_widget(form.clEffectif) }}
                    </div>
                </div>
                <br>


            </div>






            <div class="all-25">

                <div class="control-group align-left">
                    {{ form_label(form.clCp) }}
                    {{ form_errors(form.clCp) }}
                    <div class="control">
                        {{ form_widget(form.clCp) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clVille) }}
                    {{ form_errors(form.clVille) }}
                    <div class="control">
                        {{ form_widget(form.clVille) }}
                    </div>
                </div>
                <br>

                <div class="control-group align-left">
                    {{ form_label(form.clCa) }}
                    {{ form_errors(form.clCa) }}
                    <div class="control">
                        {{ form_widget(form.clCa) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clFax) }}
                    {{ form_errors(form.clFax) }}
                    <div class="control">
                        {{ form_widget(form.clFax) }}
                    </div>
                </div>
                <br>

                <div class="control-group align-left">
                    {{ form_label(form.clMail) }}
                    {{ form_errors(form.clMail) }}
                    <div class="control">
                        {{ form_widget(form.clMail) }}
                    </div>
                </div>
                <br>
                <div class="control-group align-left">
                    {{ form_label(form.clWeb) }}
                    {{ form_errors(form.clWeb) }}
                    <div class="control">
                        {{ form_widget(form.clWeb) }}
                    </div>
                </div>
                <br>

            </div>


            <div class="all-25">
                <div class="control-group align-left">
                    {{ form_label(form.clTel) }}
                    {{ form_errors(form.clTel) }}
                    <div class="control">
                        {{ form_widget(form.clTel) }}
                    </div>
                </div>
                <br>
                {#<div class="control-group align-left">#}
                {#{{ form_label(form.clGroupe) }}#}
                {#{{ form_errors(form.clGroupe) }}#}
                {#<div class="control">#}
                {#{{ form_widget(form.clGroupe) }}#}
                {#</div>#}
                {#</div>#}
                {#<br>#}
                {#<div class="control-group align-left">#}
                {#{{ form_label(form.clActivite) }}#}
                {#{{ form_errors(form.clActivite) }}#}
                {#<div class="control">#}
                {#{{ form_widget(form.clActivite) }}#}
                {#</div>#}
                {#</div>#}
                {#<br>#}
                {#<div class="control-group align-left">#}
                {#{{ form_label(form.clPays) }}#}
                {#{{ form_errors(form.clPays) }}#}
                {#<div class="control">#}
                {#{{ form_widget(form.clPays) }}#}
                {#</div>#}
                {#</div>#}
                {#<br>#}


            </div>

            <div class="all-25">
                {{ form_widget(form.Send, { 'label': 'Enregistrer' }) }}

            </div>
        </div>
    </div>
    </div>


    {{ form_end(form) }}

{% endblock %}

