<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('index_auth') }}" class="site_title"><i class="angellist icon"></i><span>CRM</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            {{ app.user.UsPrenom | avatar(app.user.UsNom) | raw }}
            <div class="profile_info">
                <span>Bonjour,</span>
                <h2>{{ app.user.UsPrenom }}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>


        <!-- sidebar menu -->

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section current-page">
                <ul class="nav side-menu" style="">
                    <li class="{% if app.request.attributes.get('_route') == 'index_auth' %}current-page {% endif %}"><a
                                href="/"><i class="fa fa-home"></i> Home</a></li>


                    <li class="{% if app.request.attributes.get('_route') == 'taches_home' or app.request.attributes.get('_route') == 'new-task' %}current-page {% endif %}">
                        <a href="{{ path('taches_home') }}"><i class="fa fa-calendar"></i> Action</a></li>


                    <li class="{% if app.request.attributes.get('_route') == 'client' or app.request.attributes.get('_route') == 'client-general' or app.request.attributes.get('_route') == 'client-facturation' or app.request.attributes.get('_route') == 'client-adresse' or app.request.attributes.get('_route') == 'client-status' or app.request.attributes.get('_route') == 'consomnation-client'  %}current-page {% endif %}">


                        <a href="{{ path('client', { 'c' : 'all'}) }}"><i class="fa fa-user"></i> Client</a>


                            {% if  app.request.attributes.get('_route') == 'client-general' or app.request.attributes.get('_route') == 'client-adresse' or app.request.attributes.get('_route') == 'client-status' or app.request.attributes.get('_route') == 'client-facturation' or app.request.attributes.get('_route') == 'consomnation-client'  %}
                        </a>


                        <ul class="nav child_menu">


                            <li class=" {% if app.request.attributes.get('_route') == 'client-general' %}current-page {% endif %}">
                                <a href="{{ path('client-general', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale') }) }}">General</a>
                            </li>
                            <li class=" {% if app.request.attributes.get('_route') == 'client-adresse' %}current-page {% endif %}">
                                <a href="{{ path('client-adresse', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale')}) }}">Adresse</a>
                            </li>
                            <li class=" {% if app.request.attributes.get('_route') == 'client-status' %}current-page {% endif %}">
                                <a href="{{ path('client-status', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale')}) }}">Statut</a>
                            </li>
                            <li class=" {% if app.request.attributes.get('_route') == 'client-facturation' %}current-page {% endif %}">
                                <a href="{{ path('client-facturation', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale')}) }}">Facturation</a>
                            </li>
                            <li class=" {% if app.request.attributes.get('_route') == 'consomnation-index' %}current-page {% endif %}">
                                <a href="{{ path('consomnation-client', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale')}) }}">Consommation</a>
                            </li>

                        </ul>
                    </li>
                    {% endif %}

                    <li class="{% if app.request.attributes.get('_route') == 'fournisseur-general' or app.request.attributes.get('_route') == 'index-fournisseur' %}current-page {% endif %}">
                        <a href="{{ path('index-fournisseur', { "c" : "all"}) }}"><i class="fa fa-industry"></i>
                            Fournisseurs</a>
                            {% if  app.request.attributes.get('_route') == 'fournisseur-general' or app.request.attributes.get('_route') == 'fournisseur-produits' %}


                        <ul class="nav child_menu">


                            <li class=" {% if app.request.attributes.get('_route') == 'fournisseur-general' %}current-page {% endif %}">
                                <a href="{% if app.request.attributes.get('id') %}{{ path('fournisseur-general', { id : app.request.attributes.get('id') }) }}{% endif %}">Géneral</a>
                            </li>


                            <li class=" {% if app.request.attributes.get('_route') == 'fournisseur-general' or app.request.attributes.get('_route') == 'fournisseur-produits' %}current-page {% endif %}">
                                <a href="{% if app.request.attributes.get('id') %}{{ path('fournisseur-produits', { id : app.request.attributes.get('id'), c : 'all' }) }}{% endif %}">Produits</a>
                            </li>

                        </ul>
                    </li>
                    {% endif %}

                    <li class=" {% if app.request.attributes.get('_route') == 'consomnation-index' %}current-page {% endif %}">
                        <a href="{{ path('consommation-index', { id : app.request.attributes.get('id'), 'centrale' : app.request.attributes.get('centrale')}) }}"><i class="archive icon"></i>Consommation</a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- /sidebar menu -->


        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">


            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
