{% extends 'base.html.twig' %}


{% block title %}
    Régions - ACHAT-CENTRALE
{% endblock %}

{%  block body %}


    <a href="{{ path("region-import") }}" class="ui green button" style="margin-bottom: 10px">Importer des régions</a>

    <div class="" role="main">
        <div>
            <div class="row">



                {% for re in regions %}

                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{ re["SO_RAISONSOC"] }}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom régions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                    {% for r in re[0] %}
                                        <tr>
                                            <th scope="row">{{ r["RE_ID"]  }}</th>
                                            <td><a href="{{ path("region-detail", {"centrale" : re["SO_ID"], "region_id" : r["RE_ID"] }) }}">{{ r["RE_NOM"] }}</a></td>
                                        </tr>
                                    {% endfor %}
                                        </tbody>
                                    </table>


                            </div>
                        </div>
                    </div>


                {% endfor %}


            </div>
        </div>
    </div>


{% endblock %}