<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification Import produit</title>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="{{ asset('css/checkImport.css') }}">
</head>
<body>

<div class="container">
    <div class="titre-page" style="text-align: center;padding: 20px;">
        <h1 class="is-size-4">Import <b>#{{ app.request.attributes.get('id_import') }}</b></h1>
        <br>
        <h2 class="is-size-5"><b>{{ pageNumber }}</b> Produits</h2>
    </div>

    <div class="container" style="padding: 25px 25px 0px 25px;">
        <div class="columns">
            <div class="column is-3">
{#                <div class="select is-fullwidth">#}
{#                    <select>#}
{#                        <option>Catégorie d'achat</option>#}
{#                    </select>#}
{#                </div>#}
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') , 'order' : 'ASC', 'photo' : app.request.query.get('photo') }) }}" class="button {{ (app.request.query.get('order') == 'ASC') ? 'is-warning'  }}">Croissant</a>
                <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') , 'order' : 'DESC', 'photo' : app.request.query.get('photo') }) }}"  class="button {{ (app.request.query.get('order') == 'DESC') ? 'is-warning'  }}">Décroissant</a>

            </div>
            <div class="column">
                <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import') }) }}" class="button">Page d'accueil</a>
                <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page'), 'order' : app.request.query.get('order'), 'photo' : true }) }}" class="button is-success">Afficher produits sans photo</a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 30px;" class="container">
        <div id="main-wrap" class="main-wrap gallery-mode" style="width: 100%;">
            <div id="gallery-item">
                <div id="list-items" class="clearfix temp-height lazy-load">

                    <ul class="util-clearfix son-list ">

                        {% for produit in Produit %}


                            <li class="list-item list-item-first ">

                                <div class="container-remise">
                                    <p>- {{ produit["PR_PRIX_CA"] | remise(produit["PR_PRIX_PUBLIC"]) | round }} %</p>
                                </div>

                                <div class="item">
                                    <div class="img img-border">
                                        <div class="pic">
                                            <a class="picRind " href="" target="_blank">
                                                <img class="picCore pic-Core-v"
                                                     src="{{ produit["PR_ID"] | product_pic }}" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="has-sku-image">
                                        <a class="" href="" title="" target="_blank">
                                            <p align="center"
                                               style="color: #df4e92;">{{ produit["PR_TRIPTYQUE"] | encoding_from }}</p>
                                        </a>
                                    </div>


                                    <div class="info">
                                        <h3>
                                            {{ produit["PR_NOM"] | encoding_from | raw }}
                                        </h3>
                                        <div class="has_stock">
                                            <p>PR_ID : <b>{{ produit["PR_ID"] }}</b></p>
                                        </div>


                                        <span class="price price-m">
                                            {% if produit["PR_PRIX_PUBLIC"] == 0 %}

                                                <p>Prix sur devis</p>
                                                                    {% else %}
                                                {% if produit["PR_CONDT"] | replace({' ': ''}) == "àpartirde" %}
                                                    <span class="unit">{{ produit["PR_CONDT"] | encoding_from }}</span>
                                                    <span class="value"
                                                          itemprop="price_centrale">{{ produit["PR_PRIX_CA"]| number_format(2, ',', ' ') }}&nbsp;€</span>
                                                    <span class="value-barre"
                                                          itemprop="price_public">{{ produit["PR_PRIX_PUBLIC"] | number_format(2, ',', ' ') }}&nbsp;€</span>
                                                                            {% else %}
                                                    <span class="value-barre"
                                                          itemprop="price_public">{{ produit["PR_PRIX_PUBLIC"] | number_format(2, ',', ' ') }}&nbsp;€</span>
                                                    <span class="value"
                                                          itemprop="price_centrale">{{ produit["PR_PRIX_CA"] | number_format(2, ',', ' ') }}&nbsp;€</span>
                                                    <span class="separator">/</span>
                                                    <span class="unit">{{ produit["PR_CONDT"] | encoding_from }}</span>
                                                {% endif %}


                                            {% endif %}
                                        </span>





                                        <div class="info-more">
                                            {% if produit["PR_DESCR_COURTE"] %}
                                                <div class="description">
                                                    {{ produit["PR_DESCR_COURTE"] | encoding_from | raw }}
                                                </div>

                                            {% endif %}


                                            {% if produit["PR_INFO_LIEN"] | spaceless %}

                                                <div class="container-info-produit">
                                                    <a class="F_Ubuntu FondRose Blanc"
                                                       style="border-style:none; border-radius:5px; cursor:pointer; padding:5px;background-color: #DE359F;color: #FFFFFF;text-align: center"
                                                       href="{{ produit["PR_INFO_LIEN"] }}">{{ produit["PR_INFO_TXT"] | encoding_from }}</a>

                                                </div>
                                            {% endif %}



                                        </div>

                                    </div>
                                </div>


                            </li>

                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>


    {% if Produit | length >= 12 %}
        <nav class="pagination" role="navigation" aria-label="pagination">

            {% if app.request.query.get('page') >= 1 %}
                <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') - 1, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-next">Page précédente</a>
            {% endif %}


            <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') + 1, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-next">Page suivante</a>
            {% if app.request.query.get('page') >= 1 %}

                <ul class="pagination-list">
                    <li>
                        <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : 1, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link" >1</a>
                    </li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li>
                        <a
                                href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page'), 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ app.request.query.get('page') }}</a>
                    </li>
                    {% if pageNumber + 1 != app.request.query.get('page')  %}
                        <li>
                            <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') + 1, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link" aria-label="Goto page 2">{{ app.request.query.get('page') + 1 }}</a>
                        </li>
                        <li>
                            <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : app.request.query.get('page') + 2, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link" aria-label="Goto page 3">{{ app.request.query.get('page') + 2 }}</a>
                        </li>
                    {% endif %}

                    <li>
                        <select onchange="location = this.value;">
                            <option>Choisir la page</option>
                            {% for i in range(1, pageNumber) %}
                                <option value="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : i , 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}">Page {{ i }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            {% elseif app.request.query.get('page')  == pageNumber + 1 %}
                <p>ok</p>
            {% else %}
                <ul class="pagination-list">
                    <li>
                        <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : 1, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                    </li>
                    <li>
                        <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : 2, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link" aria-label="Goto page 2">2</a>
                    </li>
                    <li>
                        <a href="{{ path('import-check', { 'id_import' : app.request.attributes.get('id_import'), 'page' : 3, 'order' : app.request.query.get('order'), 'photo' : app.request.query.get('photo') }) }}" class="pagination-link" aria-label="Goto page 3">3</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    {% endif %}


</div>


</body>
</html>