<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Se connecter</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/ink.min.css" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/Favicon/logo_favicon.png') }}">
</head>
<body>


<div class="login-container">
    <img class="img-home" src="{{ asset('images/logo-achatcentrale.png') }}" alt="Logo">
    {% if error %}
        <div class="ink-alert basic error" role="alert" style="width: 50%;margin: 0 auto;margin-bottom: 50px;">
            <button class="ink-dismiss">&times;</button>
            <p><b>Erreur:</b> {{ error.message | replace({"Bad credentials." : "Identifiant incorrecte"}) }}</p>
        </div>
    {% endif %}

    <div class="login-group">


        <form action="{{ path('login') }}" class="ink-form form-login" method="post">

            <div class="control-group">
                <label for="username">Nom d'utilisateur:</label>
                <div class="control">
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
            </div>

            <div class="control-group">
                <label for="password">Mot de passe :</label>
                <div class="control">
                    <input type="password" id="password" name="_password"/>
                </div>

           <div class="remember-me">
               <input type="checkbox" id="remember_me" name="_remember_me" checked>
               <label for="remember_me">Maintenir ma session ouverte</label>
           </div>

            </div>


            <button type="submit" class="ink-button green btn-login">Se connecter</button>
        </form>
    </div>
</div>


</body>
</html>
